body {
	margin: 0;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 30px;
	color: #000000;
	line-height: 1.15 !important;
}
header{
	height: 170px;
	background: #f6f8fb;
	margin: 0;
	padding: 0;
	background-position: top;
	box-sizing: border-box;
	position: relative;
}
a:hover {
	text-decoration: none !important;
}
.container_{
	width: 100%;
	margin: 0 auto;
}
.logo_bg{
	width: 100%;
	height: 110px;
	margin-top: 50px;
	background: #ffffff;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
header .container_ {
	display: flex;
	justify-content: space-between;
}
.logo_box{
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding-top: 20px;
	font-size: 65px;
}
.logo_box a {
	text-decoration: none;
}
.logo{
	width: 50%;
}
.hall_logo{
	color: #d89660;
	margin-left: -20px;
}
.booking_logo{
	color: #000000;
}
.lk button{
	width: 40px;
	height: 40px;
}
.dropdown-content{
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}
.dropdown-content a{
	width: 310px;
	height: 20px;
	border-bottom: 1px solid rgba(196, 196, 196, 0.97);
}
.lk{
	float: right;
	font-size: 20px;
	margin-top: 25px;
}
.lk_name{
	float: right;
	font-size: 20px;
	margin-top: 35px;
	margin-left: 5px;
}
footer{
	height: 160px;
	background: #dfdfe5;
	box-sizing: border-box;
	width: 100%;
}
.logo_bg_footer{
	width: 100%;
	height: 110px;
	margin-bottom: 50px;
	background: #ffffff;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo_box_footer{
	text-align: center;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
    font-size: 53px;
    padding-top: 10px;
}
.logo_box_footer a {
	text-decoration: none;
}
.pointer {
	margin-left: -20px;
	margin-top: -18px;
	margin-bottom: 19px;
	border-radius: 10px;
	position: relative;
	color: #fff;
}
.pointer::after {
	content: '';
	position: absolute; /* Абсолютное позиционирование */
	right: 10px; bottom: -20px; /* Положение треугольника */
	border: 20px solid transparent;
	border-bottom: 20px solid #C4C4C4;
}
.dropbtn {
	/*background: url("https://lh3.googleusercontent.com/-zzxa5WELl6k/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3reZOyD5i5z4_-aTPc5CwwfksQ2t4w/mo/photo.jpg")no-repeat center;*/
	background-blend-mode: multiply;
	/*background-size: cover;*/
	border-radius: 20px;
	color: white;
	padding: 16px;
	border: none;
	cursor: auto;
}

.dropbtnmenu {
	/*background: url("https://lh3.googleusercontent.com/-zzxa5WELl6k/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3reZOyD5i5z4_-aTPc5CwwfksQ2t4w/mo/photo.jpg")no-repeat center;*/
	background-blend-mode: multiply;
	color: white;
	padding: 16px;
	border: none;
	cursor: pointer;
	width: 1px !important;
	height: 7px !important;
	margin-left: 25px;
	margin-top: 5px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #C4C4C4;
	margin-top: 30px;
	z-index: 100;
	left: 20px;
}

.relative {
	position: relative;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	padding-top: 11px;
	padding-bottom: 26px;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.footer_year{
	font-size: 22px;
}
.block_constructor{
	width: auto;
	background: url("/storage/img/Rectangle.png") no-repeat center;
	background-blend-mode: multiply;
	background-size: cover;
	display: block;
}
.constructor{
	height: 880px;
	display: flex;
}
.accordion{
	width: 20%;
	margin-top: 25px;
	height: 840px;
	padding-right: 15px;
	display: block;
}
.field{
	width: 79%;
	height: 777px;
	/*margin: 0 auto;*/
	margin-top: 25px;
	display: block;
}
.constructor_field{
	width: 100%;
	/*margin: 0 auto;*/
	height: 777px;
	background: #FFFFFF;
	border: 1px solid #000000;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
	position: relative;
	background: linear-gradient(-90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px) 0% 0% / 10px 10px, linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px) 0% 0% / 10px 10px;
	background-color: #fff;
	overflow: auto;
	cursor : -webkit-grab;
	cursor : -moz-grab;
	cursor : -o-grab;
	cursor : grab;
}

.constructor_field:active {
	cursor : -webkit-grabbing;
	cursor : -moz-grabbing;
	cursor : -o-grabbing;
	cursor : grabbing;
}

.button_save{
	position: sticky;
	bottom: 0;
	right: 0;
	text-decoration: none;
	display: flex;
	flex-direction: row-reverse;
	margin-right: 25px;
	margin-top: -75px;
	padding-bottom: 15px;
	z-index: 9999;
}

.button_save button{
	background: #F0A34F;
	z-index: 9999;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	width: 145px;
	height: 50px;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
	color: #000000;

}
.button_save button:hover{
	color: #ffffff;
}
.accordion_ {
	background-color: #f0efef;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	outline: none;
	font-size: 25px;
	transition: 0.4s;
	text-align: center;
	border-left: 5px #ffffff;
}

.active, .accordion_:hover {
	background-color: #ccc;
}

.accordion_:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

button.active:after {
	content: "\2212";
}

.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
button:focus {
	outline: none;
}
.panel img{
	margin-right: 10px;
}
.panel button{
	border: none;
	background: #ffffff;
	font-size: 16px;
	padding-top: 5px;
	margin-bottom: 7px;
}
.kolona img{
	margin-right: 17px;
	margin-left: 10px;
}
.panel div{
	border-bottom: 2px solid #f0efef;
}
.main_block{
	width: 100%;
	height: 2930px;
	background: url("/storage/img/white-minimal-wallpaper.png");
	margin: 0 auto;
	overflow: hidden;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
}
.create_scheme{
	width: 100%;
	height: 580px;
	background: rgba(255, 255, 255, 0.7);
	background: url("/storage/img/1.png")no-repeat center;
	background-size: 100%;
	overflow: hidden;
	background-blend-mode: multiply;
	margin-top: 100px;
	text-align: center;
}
.text_create{
	font-size: 40px;
	font-weight: bold;
	padding-top: 100px;
	text-transform: uppercase;
}
.text_create_scheme{
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
}
.text_authorize{
	font-size: 25px;
	padding-top: 70px;
}
.authorize_google{
	width: 310px;
	height: 95px;
	text-align: left;
	font-size: 25px;
	background: #ffffff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
	margin: 0 auto;
	margin-top: 110px;
	cursor: pointer;
	padding-top: 10px;
	box-sizing: border-box;
	display: flex;
}
.authorize_google a{
	text-decoration: none;
	color: black;
}
.authorize_google span{
	float: right;
	width: 78%;
	text-align: center;
	padding-top: 8px;
}
.authorize_google img{
	padding-left: 12px;
	padding-top: 8px;
}
.text_register{
	width: 100%;
	height: 200px;
	overflow: hidden;
	background-blend-mode: multiply;
	margin-top: 80px;
	text-align: center;
	font-size: 35px;
	color: rgba(0, 0, 0, 0.68);
	text-transform: uppercase;
	font-weight: bold;
}
.block_figures{
	width: 100%;
	height: 520px;
	background: rgba(255, 255, 255, 0.7);
	background: url("/storage/img/20190201161701.png")no-repeat center;
	background-size: 100%;
	overflow: hidden;
	background-blend-mode: multiply;
	text-align: center;
}
.block_figures_content{
	width: 100%;
	height: 320px;
	background: rgba(255, 255, 255, 0.7);
	margin-top: 110px;
}
.block_figures_content_text{
	margin: 0 auto;
	text-align: center;
	font-size: 35px;
	color: rgba(0, 0, 0, 0.76);
	padding-top: 70px;
	font-weight: bold;
}
.figures{
	width: 900px;
	margin: 0 auto;
	display: flex;
	height: 150px;
	padding-top: 20px;
}
.figures div{
	width: 25%;
	height: 150px;
	text-align: center;
	font-size: 25px;
}
.figure_text {
	padding-left: 85px;
}
.figure_text_sofa{
	padding-left: 75px;
}
.block_schema{
	width: 1330px;
	height: 655px;
	margin: 0 auto;
	display: flex;
	margin-top: 30px;
}
.block_schema_text{
	width: 26%;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	padding: 200px 35px 15px 35px;
}
.block_schema_img{
	width: 64%;
	margin-left: 40px;
	margin-top: 110px;
}
.block_preference{
	width: 100%;
	height: 555px;
	margin: 0 auto;
	background: url("/storage/img/103.png")no-repeat center;
	background-size: 100%;
	background-blend-mode: multiply;
	margin-top: 110px;
	overflow: hidden;
}
.block_preference_title{
	width: 100%;
	height: 60px;
    background: rgba(255, 255, 255, 0.9);
	margin-top: 45px;
	text-align: center;
	padding-top: 7px;
	box-sizing: border-box;
	font-size: 40px;
}
.hall_text{
    color: #b03737;
}
.block_stars{
	width: 1100px;
	height: 430px;
	display: flex;
	margin: 0 auto;
	margin-top: 45px;
}
.block_stars div{
	width: 90%;
	text-align: -webkit-center;
	padding-top: 40px;
}
.stars_bg{
	height: 250px;
	background: rgba(255, 255, 255, 0.7);
}
.star{
	height: 100px;
	margin-top: -300px;
	background: url("/storage/img/group.png")no-repeat center;
}
.stars_text{
	padding-top: 35px !important;
}
.stars_text_2{
	padding-top: 70px !important;
}
.stars_text_3{
	padding-top: 70px !important;
}
.block_booking{
	background: url("/storage/img/white-minimal-wallpaper (1).png") no-repeat center;
	background-blend-mode: multiply;
	background-size: cover;
}
.block_booking_text{
	text-align: center;
	font-size: 42px;
	color: rgba(0, 0, 0, 0.76);
	padding-top: 55px;
	padding-bottom: 55px;
	font-weight: bold;
}
.block_booking_last_event{
	height: 639px;
	text-align: center;
	font-size: 42px;
	color: rgba(0, 0, 0, 0.76);
	padding-top: 225px;
	padding-bottom: 55px;
	font-weight: bold;
}
.schema_block{
	margin: 0 auto;
	width: 1040px;
	height: 840px;
	margin-bottom: 15px;
}
.field_block{
	width: 1040px;
	height: 810px;
	margin: 0 auto;
}
.booking_field{
	width: 1040px;
	margin: 0 auto;
	height: 840px;
	background: #FFFFFF;
	border: 1px solid #000000;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
	position: relative;
}
.btn_export{
	width: 265px;
	height: 70px;
	margin: 0 auto;
	background: rgba(196, 196, 196, 0.5);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}
.btn_export_scheme{
	width: 340px;
	height: 70px;
	margin: 0 auto;
	background: rgba(196, 196, 196, 0.5);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}
.btn_export_scheme img{
	width: 50px;
	height: 50px;
	margin: -10px;
}
.btn_export img{
	width: 50px;
	height: 50px;
	margin: -10px;
}
.block_date{
	text-align: left;
	width: 1040px;
	display: flex;
	margin: 0 auto;
	margin-bottom: 10px;
	padding-bottom: 15px;
	margin-top: 30px;
}
.text_date{
	font-weight: bold;
}
.edit_btn{
	margin-left: 20px;
}
.buttons{
	text-align: left;
	width: 1040px;
	display: flex;
	margin: 0 auto;
}
.buttons_block{
	width: 90%;
}
.btn_block_margin{
	margin-bottom: 35px;
}
.btn_share{
	width: 330px;
	height: 70px;
	margin: 0 auto;
	background: rgba(196, 196, 196, 0.5);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn_share img{
	width: 50px;
	height: 50px;
	margin: -5px;
}
.btn_export_text{
	font-size: 25px;
	color: #000000;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 5px 10px;
}
.block_authorization{
	background: url("/storage/img/white-minimal-wallpaper (1).png") no-repeat center;
	background-blend-mode: multiply;
	background-size: cover;
	height: 629px;
	display: flex;
}
.block_authorization_content{
	width: 30%;
	height: 400px;
	margin: 0 auto;
	background: #e6e6e7;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
	margin-top: 80px;
	display: block;
}
.block_authorization_text{
	width: 100%;
	font-size: 35px;
	text-align: center;
	padding: 57px;
	height: 250px;
}
.authorization_google{
	width: 310px;
	height: 90px;
	text-align: left;
	font-size: 23px;
	background: #ffffff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
	margin: 0 auto;
	cursor: pointer;
	padding-top: 10px;
	box-sizing: border-box;
	display: flex;
}
.authorization_google a{
	text-decoration: none;
	color: black;
}
.authorization_google span{
	float: right;
	width: 78%;
	text-align: center;
	padding-top: 8px;
}
.authorization_google img{
	padding-left: 12px;
	padding-top: 8px;
}

.rotate {
	position: absolute;
	right: -10%;
	bottom: -30px;
	cursor: pointer;
	background: url('/storage/img/rotate.png') center center no-repeat;
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
}

.normal-table,
.round-table {
	background: url("/storage/img/texture.png") center center;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.vue-swatches__trigger {
	background: url('/storage/img/palette.png') center center no-repeat;
	background-color: rgba(255, 255, 255, 0)!important;
}

*{outline:0 !important}

.v-dialog {
	box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12) !important;
	pointer-events: auto !important;
	transition: .3s cubic-bezier(.25, .8, .25, 1) !important;
	z-index: inherit !important;
	border: 0.5px solid #000000 !important;
	box-sizing: border-box !important;
	border-radius: 10px !important;
}

.top_block_dialog {
	background-color: #C4C4C4!important;
	border-color: #e0e0e0!important;
}

.v-card__title--primary {
	padding-top: 24px !important;
	padding-left: 100px !important;
}

.v-btn {
	align-items: center !important;
	font-size: 14px !important;
	font-weight: 500 !important;
	justify-content: center !important;
	margin: 6px 8px !important;
	min-width: 88px !important;
	text-transform: uppercase !important;
	text-decoration: none !important;
	transition: .3s cubic-bezier(.25,.8,.5,1),color 1ms !important;
	vertical-align: middle !important;


	width: 100px !important;
	height: 40px !important;
	background: #C4C4C4 !important;
	border: 0.5px solid #000000 !important;
	box-sizing: border-box !important;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)  !important;
	border-radius: 5px !important;
}

.v-btn:hover {
	background: #ef912b !important;
}

hr {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.v-card__text {
	padding: 0 !important;
	margin-bottom: 5px !important;
	width: 100% !important;
	margin-top: 5px !important;
}

.window__input__title {
	width: 415px;
	border: 1px solid #000000;
	border-radius: 10px;
	margin: 0 auto;
	text-align: center;
}

.edit_img {
	cursor: pointer;
}

.error_dialog {
	color: #ff0000;
}

.theme-orange .vdatetime-popup__header,
.theme-orange .vdatetime-calendar__month__day--selected > span > span,
.theme-orange .vdatetime-calendar__month__day--selected:hover > span > span {
	background: #FF9800;
}

.theme-orange .vdatetime-year-picker__item--selected,
.theme-orange .vdatetime-time-picker__item--selected,
.theme-orange .vdatetime-popup__actions__button {
	color: #ff9800;
}

.zoom {
	position: sticky;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: row-reverse;
	z-index: 9999;
}

.zoom_buttons {
	display: flex;
	flex-direction: column;
	width: 30px;
	position: sticky;
	z-index: 99999;
	bottom: 0;
	right: 0;
	margin-right: 30px;
	margin-top: -152px;
	height: 100%;
}

.zoom_buttons button {
	width: 30px;
	height: 30px;
	border: 1px solid #000;
	opacity: 0.7;
	background-color: rgba(255,255,255,1);
}

.zoom_buttons button:hover {
	opacity: 1;
}

.zoom_buttons .plus {
	background: url(/storage/img/plus.png) no-repeat center center;
	border-bottom: none;
}

.zoom_buttons .minus {
	background: url(/storage/img/minus.png) no-repeat center center;
}
