<template>
    <div class="block_authorization">
        <div class="block_authorization_content">
            <div class="block_authorization_text">
                Для работы с системой пожалуйста авторизируйтесь
            </div>
            <div class="authorization_google">
                <a href="/auth/google">
                    <img src="/storage/img/iconfinder_Google_1298745.png">
                    <span>
                        Войти с помощью Google
                    </span>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Authorization"
    }
</script>

<style scoped>

</style>