<template>
    <div class="block_booking">
        <link rel="stylesheet" href="css/app.css">
        <div v-if="this.showEvent">
            <div class="block_booking_text">
                {{ this.titleEvent }}
            </div>
            <v-alert
                    :value="true"
                    type="error"
                    v-if="!isBooking"
            >
                Вы уже забронировали место
            </v-alert>
            <div class="booking__info" v-if="myBookingPlaceNumber !== -1 && authorEventId !== userId">
                <div>Вы забронировали <span style="color: red">место № {{ myBookingPlaceNumber }}</span></div>
                <div class="cancel__booking" @click="cancelBooking(myBookingPlaceNumber)">Отменить бронирование</div>
            </div>
            <div class="schema_block">
                <div class="field_block field">
                    <div class="booking_field constructor_field" ref="content">
                        <vue-draggable-resizable v-for="(element, index) in elements" :key="element.index"
                                                 :parent="true" :resizable="false"
                                                 :class="(element.class == 'zone-separator' && element.isVertical) ? element.class + ' zone-separator-vertical' : element.class"
                                                 :x="element.x" :y="element.y"
                                                 :w="element.w" :h="element.h"
                                                 :grid="element.grid" :lock-aspect-ratio="element.lock"
                                                 :min-height="element.minH" :min-width="element.minW"
                                                 :max-height="element.maxH" :max-width="element.maxW"
                                                 :draggable="false"
                                                 :style="(element.class == 'text') ? 'z-index: 100' : ''">
                            <div v-if="element.class == 'chair'">
                                <div class="sub-back-chair" :class="element.posSB"></div>
                                <div class="back-chair" :class="element.posB"></div>
                            </div>
                            <div v-if="element.class == 'sofa'">
                                <div class="sub-back-sofa1" :class="element.posSB1"></div>
                                <div class="sub-back-sofa2" :class="element.posSB2"></div>
                                <div class="back-sofa" :class="element.sPosB"></div>
                            </div>
                            <div v-show="element.active" class="rotate" @click="rotateElement(element.class)"></div>
                            <!--Если добавляем элемент "Текст", то используем компонент swatches для выбора цвета текста, тут менять-->
                            <!--по идее ничего не нужно, но вот дока на всякий случай https://saintplay.github.io/vue-swatches/-->
                            <div v-if="element.class == 'text'" class="textField">
                                <input type="text" :value="element.text" readonly
                                       :style="'color: '+ element.color+';'+((element.isVerticalInput)?'height:'+element.w+'px;width:'+element.h+'px;':'')"
                                       :class="{'vertical-text': element.isVerticalInput}"
                                >
                            </div>
                            <div v-if="element.type == 'table'" class="tableName">
                                <input type="text" v-model="element.tableName" readonly
                                       :style="(element.isVerticalInput)?'height:'+element.w+'px;width:'+element.h+'px;':''"
                                       :class="{'vertical-text': element.isVerticalInput}"
                                       @dblclick="dialogChair = true">
                            </div>
                            <div v-if="element.class == 'chair'" class="chairNumber"
                                 :title="!isAnon ? bookingPlaceGuestName[element.typeId] : 'Место №'+' '+element.typeId"
                                 :style="(element.typeId > 99) ? 'font-size: 11px;' : ''"
                                 :class="{'is__booking': bookingPlaceNumber.indexOf(element.typeId) != -1}"
                                 @click="(bookingPlaceNumber.indexOf(element.typeId) == -1) ? booking(element.typeId) : ''">
                                <div>{{ element.typeId }}</div>
                            </div>
                            <div v-if="element.class == 'sofa'" class="sChairNumber"
                                 :class="{'vertical-sofa': element.isVertical}"
                                 :style="(element.sChairs.typeId > 99) ? 'font-size: 11px;' : ''">
                                <div v-for="(sChair, id) in element.sChairs" class="sChair"
                                     :title="!isAnon ? bookingPlaceGuestName[sChair.typeId] : 'Место №'+' '+sChair.typeId"
                                     :class="{'is__booking': bookingPlaceNumber.indexOf(sChair.typeId) != -1}"
                                     @click="(bookingPlaceNumber.indexOf(sChair.typeId) == -1) ? booking(sChair.typeId) : ''"
                                >{{ sChair.typeId }}
                                </div>
                            </div>
                            <div class="dependent-chairs"
                                 v-if="(element.type == 'table') && (element.chairs.length > 0)">
                                <vue-draggable-resizable v-for="(chair, id) in element.chairs" :key="id"
                                                         :resizable="false"
                                                         class="chair"
                                                         :w="30" :h="30"
                                                         :grid="[10,10]"
                                                         :y="chair.y"
                                                         :x="chair.x"
                                                         :lock-aspect-ratio="true"
                                                         :min-height="30" :min-width="30"
                                                         :max-height="30" :max-width="30"
                                                         :draggable="false"
                                >
                                    <div>
                                        <div class="sub-back-chair" :class="chair.pos+'-sb'"></div>
                                        <div class="back-chair" :class="chair.pos+'-b'"></div>
                                    </div>
                                    <div class="chairNumber"
                                         :title="!isAnon ? bookingPlaceGuestName[chair.typeId] : 'Место №'+' '+chair.typeId"
                                         :class="{'is__booking': bookingPlaceNumber.indexOf(chair.typeId) != -1}"
                                         :style="(element.typeId > 99) ? 'font-size: 11px;' : ''"
                                         @click="(bookingPlaceNumber.indexOf(chair.typeId) == -1) ? booking(chair.typeId) : ''">
                                        <div>{{ chair.typeId }}</div>
                                    </div>
                                </vue-draggable-resizable>
                            </div>
                        </vue-draggable-resizable>
                    </div>
                </div>
            </div>
            <div class="block_date">
                <span class="text_date">Город мероприятия: </span>
                <span class="date">
                {{ this.cityEvent }}
            </span>
            </div>
            <div class="block_date">
                <span class="text_date">Адрес мероприятия: </span>
                <span class="date">
                {{ this.addressEvent }}
            </span>
            </div>
            <div class="block_date">
                <span class="text_date">Дата и время мероприятия: </span>
                <span class="date">
                {{ this.dateEvent }} , {{ this.timeEvent }}
            </span>
            </div>
            <div class="buttons" v-if="this.authorEventId==this.userId">
                <div class="buttons_block">
                    <button class="btn_export btn__edit__booking" @click="adminPanelDialog = true">
                        <img src="/storage/img/edit.png">
                        <span class="btn_export_text">Редактирование брони</span>
                    </button>
                </div>
            </div>
            <div class="buttons" v-if="this.authorEventId==this.userId">
                <div class="buttons_block">
                    <button class="btn_export" @click="downloadWithCSS">
                        <img src="/storage/img/icons8-pdf-64.png">
                        <span class="btn_export_text">Экспорт в PDF</span>
                    </button>
                </div>
            </div>
            <div class="buttons" v-if="this.authorEventId==this.userId">
                <div class="buttons_block buttons_block_export_scheme">
                    <button class="btn_export_scheme" @click="downloadSchemeWithCSS">
                        <img src="/storage/img/icons8-pdf-64.png">
                        <span class="btn_export_text">Экспорт схемы в PDF</span>
                    </button>
                </div>
            </div>
            <div class="buttons" v-if="this.authorEventId==this.userId">
                <div class="buttons_block btn_block_margin">
                    <button class="btn btn_share">
                        <img src="/storage/img/icons8-share-50.png">
                        <span class="btn_export_text">Поделиться ссылкой</span>
                    </button>
                </div>
            </div>

            <div id="content" ref="table">
                <table>
                    <thead>
                    <tr>
                        <th>Номер места</th>
                        <th>Гость</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="bookingPlace in bookingPlaces">
                        <td>{{ bookingPlace.place_number }}</td>
                        <td>{{ bookingPlace.guest_name }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--Диалоговое окно при подтверждении бронирования-->
            <div class="text-xs-center">
                <v-dialog
                        v-model="dialogBooking"
                        width="500"
                >

                    <v-card>
                        <v-card-title
                                class="headline grey lighten-2 booking-top"
                                primary-title
                        >
                            Форма бронирования
                        </v-card-title>

                        <v-card-text class="text_booking">
                            <div v-if="authorEventId === userId">
                                Имя:
                                <input type="text" class="code" v-model="guestName">
                            </div>
                            <div>Место: {{ place }}</div>
                            <div v-if="isClosed && authorEventId !== userId">
                                Код:
                                <input type="text" v-model="enterCode" class="code">
                                <div class="error" v-for="error in errors">{{ error.code }}</div>
                            </div>
                            <div class="error" v-if="!isBooking">Вы уже забронировали место</div>
                        </v-card-text>

                        <v-divider></v-divider>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    color="primary"
                                    flat
                                    @click=""
                                    class="booking_btn"
                                    @click="isBooking ? acceptBookingDialog = true : ''"
                            >
                                Забронировать
                            </v-btn>
                            <v-btn
                                    onclick="return false"
                                    color="info"
                                    flat
                                    @click="dialogBooking = false"
                                    class="booking_btn"
                            >
                                Отмена
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </div>
        </div>
        <div v-if="this.success && !this.showEvent" class="block_booking_last_event">
            К сожалению, данное мероприятие уже прошло:(
        </div>
        <div class="text-xs-center">
            <v-dialog
                    v-model="acceptBookingDialog"
                    width="500"
            >

                <v-card>
                    <v-card-title
                            class="headline top_block_dialog"
                            primary-title
                    >
                        Подтверждение действия
                    </v-card-title>

                    <v-card-text style="font-size: 24px">
                        Забронировать место?
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                                color="primary"
                                flat
                                @click="ToBooking"
                        >
                            Ок
                        </v-btn>
                        <v-btn
                                color="info"
                                flat
                                @click="acceptBookingDialog = false"
                        >
                            Отмена
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
        <!--Диалоговое окно для админа схемы со списком бронированных мест и возможностью отмены брони-->
        <div class="text-xs-center">
            <v-dialog
                    v-model="adminPanelDialog"
                    width="750"
                    class="booking_dialog"
            >

                <v-card>
                    <v-card-title
                            class="headline top_block_dialog top_block_dialog_places"
                            primary-title
                    >
                        <span style="font-weight: bold; margin-left: -45px;">Забронированные места</span>
                        <span><input type="text" class="serch__input" placeholder="Поиск по имени" v-model="search"></span>
                    </v-card-title>

                    <v-card-text style="font-size: 24px">
                        <ul class="booking__list">
                            <li v-for="(bookingPlace, index) in todosByTitle">
                                <span style="width: 150px;">{{ bookingPlace.guest_name }}</span>
                                <span style="font-weight: bold;">Место №{{ bookingPlace.place_number }}</span>
                                <span>
                                    <button class="cancel__booking__admin__btn" @click="cancelBooking(bookingPlace.place_number)">
                                        Отменить бронирование
                                    </button>
                                </span>
                            </li>
                        </ul>
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions class="dialog__block__bottom" style="padding-right: 23px;">
                        <v-spacer></v-spacer>
                        <v-btn
                                color="primary"
                                flat
                        >
                            Ок
                        </v-btn>
                        <v-btn
                                color="info"
                                flat
                                @click="adminPanelDialog = false"
                        >
                            Отмена
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </div>
</template>

<script>
    import jsPDF from "jspdf";
    import html2canvas from "html2canvas"

    export default {
        data() {
            return {
                showEvent: '',
                acceptBookingDialog: '',
                dialogBooking: false,
                jsonInfo: '',
                titleEvent: '',
                dateEvent: '',
                cityEvent: '',
                addressEvent: '',
                timeEvent: '',
                authorEventId: '',
                userId: window.App.userId,
                myBookingPlaceNumber: '',
                errors: [],
                active: null,           //активен ли элемент
                isVertical: false,      //повернули ли вертикально элемент (только для пунктирного разделителя нужно это свойство)
                elements: [],           //массив всех элементов
                x: null,
                y: null,
                w: null,
                h: null,
                index: 0,               //уникальный индекс (считает тупо все элементы) - нужен для правильного удаления
                pos: 'north',           //позиции для поворота стула и дивана
                posSB: 'north-sb',
                posSB1: 's-north-sb1',
                posSB2: 's-north-sb2',
                posB: 'north-b',
                sPosB: 's-north-b',
                isVerticalInput: false, //повернут ли вертикально инпут на столе или элемент текст
                chairId: 0,             //уникальный ид стульев
                tableId: 0,             //уникальный ид столов
                schemeId: '',            //походу ид схемы)
                dialog: false,
                dialogChair: false,
                adminPanelDialog: false,
                place: '',
                code: '',
                enterCode: '',
                isClosed: '',
                isAnon: '',
                bookingPlaces: [],
                bookingPlaceNumber: [],
                errors: [],
                bookingPlaceGuestName: [],
                isBooking: true,
                guestName: '',
                search: '',
                success: false
            }

        },
        props: ['id'],

        methods: {
            booking(i) { // получаем id номер места, вызываем диалоговое окно бронирования
                this.place = i
                this.dialogBooking = true
            },
            ToBooking() {
                if (this.code != null) {
                    if ((this.enterCode == this.code || !this.isClosed) || this.authorEventId === this.userId) {
                        axios({
                            method: 'post',
                            url: '/to-booking',
                            data: {
                                schemeId: this.$route.params.id,
                                placeNumber: this.place,
                                guestName: this.guestName ? this.guestName : window.App.userName
                            }
                        }).then((response) => {
                            this.isBooking = response.data
                            if (this.isBooking) {
                                location.reload()
                            }
                        }).catch((error) => {
                            console.log(error)
                        })
                        this.dialogBooking = false
                        this.acceptBookingDialog = false
                    } else {
                        this.errors = []
                        this.errors.push({code: 'Неверный код'})
                        this.acceptBookingDialog = false
                    }
                } else {
                    axios({
                        method: 'post',
                        url: '/to-booking',
                        data: {
                            schemeId: this.$route.params.id,
                            placeNumber: this.place,
                            guestName: this.guestName ? this.guestName : window.App.userName
                        }
                    }).then((response) => {
                        this.isBooking = response.data
                        if (this.isBooking) {
                            location.reload()
                        }
                    }).catch((error) => {
                        console.log(error)
                    })
                    this.dialogBooking = false
                    this.acceptBookingDialog = false
                }
            },
            cancelBooking(placeNumber) {
                axios({
                    method: 'post',
                    url: '/cancel-booking',
                    data: {
                        schemeId: this.$route.params.id,
                        placeNumber: placeNumber
                    }
                })
                location.reload()
            },
            getBookingPlaces() {
                axios.get('/get-booking-places', {
                    params: {
                        id: this.$route.params.id
                    }
                }).then((response) => {
                    this.bookingPlaces = response.data
                    for (let j = 0; j < this.bookingPlaces.length; j++) {
                        this.bookingPlaceNumber.push(+this.bookingPlaces[j].place_number)
                        this.bookingPlaceGuestName[response.data[j].place_number] = response.data[j].guest_name
                    }
                    this.myBookingPlaceNumber = this.bookingPlaceGuestName.indexOf(window.App.userName)
                })
            },
            getParametrs() {
                axios.get('/get-params-booking', {
                    params: {
                        id: this.$route.params.id
                    }
                }).then((response) => {
                    this.titleEvent = response.data.name,
                        this.cityEvent = response.data.city,
                        this.addressEvent = response.data.address,
                        this.dateEvent = ('0' + new Date(response.data.date).getDate()).slice(-2) + '-'
                    + ('0' + (new Date(response.data.date).getMonth()+1)).slice(-2) + '-'
                    + new Date(response.data.date).getFullYear(),
                        // this.dateEvent = new Date(response.data.date).getDate()+'-' + (new Date(response.data.date).getMonth()+1)+ '-'+ (new Date(response.data.date).getFullYear()),
                        this.timeEvent = response.data.time,
                        this.isClosed = +response.data.is_closed,
                        this.isAnon = +response.data.is_anonymously,
                        this.code = response.data.code
                })
            },

            getDate() {
                axios.get('/get-date-event', {
                    params: {
                        id: this.$route.params.id
                    }
                }).then((response) => {
                    this.showEvent = response.data.showEvent;
                    this.success = true;
                })
            },

            getAuthorEventId() {
                axios.get('/get-author-event-id', {
                    params: {
                        id: this.$route.params.id
                    }
                }).then((response) => {
                    this.authorEventId = +response.data.user_id
                })
            },

            downloadSchemeWithCSS() {
                const doc = new jsPDF();
                /** WITH CSS */
                var canvasElement = document.createElement('canvas');
                html2canvas(this.$refs.content, {canvas: canvasElement}).then(function (canvas) {
                    const img = canvas.toDataURL("image/png");
                    doc.addImage(img, 'JPEG', 10, 10, 190, 0);
                    doc.save('scheme.pdf');
                });
            },

            downloadWithCSS() {
                const doc = new jsPDF();
                /** WITH CSS */
                var canvasElement = document.createElement('canvas');
                html2canvas(this.$refs.table, {canvas: canvasElement}).then(function (canvas) {
                    const img = canvas.toDataURL("image/png");
                    doc.addImage(img, 'JPEG', 10, 10);
                    doc.save('booking.pdf');
                });
            },

            writeChairs: function () {
                if (!isNaN(+this.chairsCount)) {
                    this.chairsCount = +this.chairsCount;
                    let lostTypeId = [];
                    if (this.chairsCount === 0) {
                        this.elements[this.index]['chairs'].forEach(function (ch) {
                            lostTypeId.push(ch.typeId);
                        });
                        this.elementsDisnumbering(lostTypeId, 'table', '', this.elements[this.index]['typeId']);
                        this.elements[this.index]['chairs'] = [];
                        this.dialogChair = false;
                    } else if (this.elements[this.index]['chairs'].length == 0) {
                        for (let i = 0; i < this.chairsCount; i++) {
                            this.elements[this.index]['chairs'].push({type: 'chair', typeId: ++this.chairId})
                        }
                    } else {
                        let lostTypeId = [], lostElType = '', currentChairId = [];
                        this.elements[this.index]['chairs'].forEach(function (ch) {
                            lostTypeId.push(ch.typeId);
                            lostElType = 'chair';
                        });

                        this.elements[this.index]['chairs'] = [];
                        let lastEl;
                        for (let i = 0, j = 0; i < this.chairsCount; i++) {
                            if (j < lostTypeId.length) {
                                this.elements[this.index]['chairs'].push({type: 'chair', typeId: lostTypeId[j]});
                                lastEl = lostTypeId[j];
                                j++;
                            } else {
                                this.elements[this.index]['chairs'].push({type: 'chair', typeId: ++lostTypeId[j - 1]});
                                this.chairId++;
                                lastEl = lostTypeId[j - 1];
                            }
                        }

                        this.elements[this.index]['chairs'].forEach(function (ch) {
                            currentChairId.push(ch.typeId);
                        });

                        let currentIndex = this.index;
                        this.elements.forEach(function (el, index) {
                            if (el.type == lostElType) {
                                if (el.class == 'chair' && el.typeId > currentChairId[0]) {
                                    el.typeId = ++lastEl;
                                }
                                if (el.class == 'sofa' && el.sChairs[el.sChairs.length - 1]['typeId'] > currentChairId[0]) {
                                    el.sChairs.forEach(function (ch) {                  //перестроить нумерацию диванов при растягивании дивана
                                        ch.typeId = ++lastEl;
                                    });
                                }
                            }
                            if (el.type == 'table' && index != currentIndex && el.chairs.length > 0 && el.chairs[el.chairs.length - 1]['typeId'] > currentChairId[0]) {
                                el.chairs.forEach(function (ch) {                  //перестроить нумерацию диванов при растягивании дивана
                                    ch.typeId = ++lastEl;
                                });
                            }
                        });
                        this.chairId = lastEl;
                    }
                    this.dialogChair = false;
                    if (this.chairsCount != 0) {
                        let param = (this.elements[this.index]['isVertical']) ? 'h' : 'w';
                        this.resizeTable(this.chairsCount, param);
                    }
                }
            },

            onKeyDown(e) {
                if (e.keyCode == 46 && this.active) //Если нажата клавиша delete, то вызываем метод удаления элемента
                    this.removeElement(this.index); // и передаем индекс активного элемента
            },
            addElement: function (w, h, minH, minW, maxH, maxW, resizable, cl, lock, type) { //добавление нового элемента
                this.active = false;
                this.index = 0;
                while (true) {
                    if (this.elements.filter(el => el.index == this.index).length == 0) //Индекс должен быть уникальным
                        break;          //Поэтому делаем проверку на уникальность
                    else
                        this.index++;
                }
                this.elements.push({    //Добавляем объект в массив с параметрами, переданными в цикле отрисовки компонента v-for
                    active: false,
                    w: w,
                    h: h,
                    x: 40,
                    y: 200,
                    minH: minH,
                    minW: minW,
                    maxH: maxH,
                    maxW: maxW,
                    resizable: resizable, // можно ли изменять размер true or false
                    lock: lock, // изменять пропорционально
                    class: cl,
                    grid: [10, 10], //сетка 10 на 10 px
                    color: '#000',
                    index: this.index, //уникальный индекс
                    pos: this.pos, //позиции (для стульев и дивана чисто)
                    posSB: this.posSB,
                    posB: this.posB,
                    isVertical: this.isVertical,
                    isVerticalInput: this.isVerticalInput,
                    typeId: null, //id стола или стула
                    type: type, //тип (стол или стул)
                    tableName: '', //надпись на столе
                    defaultTableName: null //дефолтная надпись на столе
                });

                let lastIndex = this.elements.length - 1;

                this.elements[lastIndex]['sChairs'] = [];
                if (this.elements[lastIndex]['class'] == 'sofa') {
                    //this.elements[lastIndex]['grid'] = [40, 10];
                    for (let i = 0; i < this.elements[lastIndex]['w']; i += 40) {
                        this.elements[lastIndex]['sChairs'].push({type: 'chair', typeId: null});
                    }
                }

                this.elementsNumbering(lastIndex);
                this.setDefaultTableName(lastIndex);
                this.setTableName();
            },
            removeElement: function (index) { //удаление элемента
                let lostTypeId = [], lostElType = [], lostElClass;
                if (this.elements[index]['class'] == 'chair' || this.elements[index]['type'] == 'table') {
                    lostTypeId = this.elements[index]['typeId'];
                    lostElType = this.elements[index]['type'];
                    lostElClass = this.elements[index]['class'];
                } else if (this.elements[index]['class'] == 'sofa') {
                    this.elements[index]['sChairs'].forEach(function (ch) {
                        lostTypeId.push(ch.typeId);
                        lostElType = 'chair';
                    });
                    lostElClass = this.elements[index]['class'];
                }
                this.elementsDisnumbering(lostTypeId, lostElType, lostElClass);
                this.elements.splice(index, 1);
                let lastIndex = this.elements.length - 1;
                this.active = false;
                this.setTableName(lastIndex);
            },

            getScheme() {
                axios.get('/get-scheme', {
                    params: {
                        schemeId: this.$route.params.id
                    }
                }).then((response) => {
                    this.elements = response.data.scheme
                })
            }
        },
        computed: {
            todosByTitle() {
                return this.bookingPlaces.filter(item => item.guest_name.indexOf(this.search) !== -1)
            },
            datas() {
                while (!this.showEvent)
                    return this.showEvent;
            }
        },
        created() {
            this.getParametrs()
            this.getAuthorEventId()
            this.getScheme()
            this.getDate()
            this.getBookingPlaces()
        }
    }


    new Clipboard('.btn', {
        text: function () {
            alert("Ссылка на схему скопирована!");
            return document.location.href;
        }
    });
</script>

<style scoped>
    .v-card__title--primary {
        padding-top: 24px !important;
        padding-left: 75px !important;
    }

    .parent {
        font-size: 12px;
        position: relative;
    }

    .constructor_field .round-table {
        border-radius: 80%;
    }

    .constructor_field .normal-table {
        border-radius: 10px;
    }

    .constructor_field .wall,
    .constructor_field .column {
        background: #000000;
    }

    .constructor_field .zone-separator {
        border-style: none;
        border-top: 10px dashed #000000;
        background: none;
    }

    .constructor_field .zone-separator-vertical {
        border-top: none;
        border-left: 10px dashed #000000;
    }

    .constructor_field .text {
        background: rgba(255, 255, 255, 0);
        border: none;
    }

    .textField,
    .tableName {
        height: 100%;
        position: relative;
    }

    .constructor_field input {
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0);
        border: none;
        text-align: center;
        font-size: 20px;
    }

    input.vertical-text {
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -webkit-transform-origin: left top 0;
        transform-origin: left top 0;
        position: absolute;
        left: 100%;
    }

    .popup {
        position: absolute;
        right: -60px;
        top: 0;
    }

    .chair,
    .back-chair,
    .sub-back-chair,
    .sofa,
    .back-sofa,
    .sub-back-sofa1,
    .sub-back-sofa2 {
        background: #C4C4C4;
        border: 1px solid #000000;
        position: absolute;
    }

    .chair {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .chair {
        border-radius: 80%;
    }

    .sofa {
        border-radius: 10px;
    }

    .vertical-sofa {
        flex-direction: column;
    }

    .sChairNumber {
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .sChair {
        background: #C4C4C4;
        border: 1px solid #000000;
        box-sizing: border-box;
        color: #000;
        font-weight: bold;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 80%;
    }

    #content {
        position: absolute;
        right: 100%;
        bottom: 100%;
        width: 1000px;
    }

    .back-chair {
        left: 0;
        top: 30px;
        height: 5px;
        width: 100%;
        border-radius: 10px;
    }

    .sub-back-chair {
        left: 13px;
        top: 100%;
        height: 3px;
        width: 3px;
    }

    .back-sofa {
        left: -1px;
        bottom: -16px;
        height: 10px;
        width: 100%;
        border-radius: 10px;
    }

    .sub-back-sofa1 {
        left: 15px;
        top: 100%;
        height: 7px;
        width: 6px;
    }

    .sub-back-sofa2 {
        right: 15px;
        top: 100%;
        height: 7px;
        width: 6px;
    }

    .west-b {
        transform: rotate(90deg);
        left: 19px;
        top: 12px;
    }

    .west-sb {
        left: 100%;
        top: 13px;
    }

    .s-west-b {
        left: auto;
        right: -16px;
        bottom: 0;
        width: 10px;
        height: 100%;
    }

    .s-west-sb1 {
        left: 100%;
        top: 15px;
        height: 6px;
        width: 7px;
    }

    .s-west-sb2 {
        left: 100%;
        top: auto;
        bottom: 15px;
        height: 6px;
        width: 7px;
    }

    .south-b {
        transform: rotate(180deg);
        left: 0;
        top: -8px;
    }

    .south-sb {
        top: auto;
        left: 12px;
        bottom: 101%;
    }

    .s-south-b {
        left: 0;
        top: -16px;
    }

    .s-south-sb1 {
        left: 15px;
        top: auto;
        bottom: 101%;
        height: 7px;
        width: 6px;
    }

    .s-south-sb2 {
        right: 15px;
        top: auto;
        bottom: 101%;
        height: 7px;
        width: 6px;
    }

    .east-b {
        transform: rotate(270deg);
        left: -19px;
        top: 12px;
    }

    .east-sb {
        top: 13px;
        left: auto;
        right: 101%;
    }

    .s-east-b {
        left: -16px;
        bottom: 0;
        width: 10px;
        height: 100%;
    }

    .s-east-sb1 {
        left: auto;
        right: 101%;
        top: 15px;
        height: 6px;
        width: 7px;
    }

    .s-east-sb2 {
        left: auto;
        right: 101%;
        top: auto;
        bottom: 15px;
        height: 6px;
        width: 7px;
    }

    .chairNumber,
    .tableName {
        color: #000;
        font-weight: bold;
        font-size: 15px;
    }

    .chairNumber {
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 6px;
    }

    .tableName {
        color: #fff;
        font-weight: normal;
    }

    .vdr {
        touch-action: none;
        border: 1px solid #000;
    }

    .items-align {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .handle, .vdr {
        position: absolute;
        box-sizing: border-box;
    }

    .handle {
        width: 10px;
        height: 10px;
        background: #eee;
        border: 1px solid #333
    }

    .handle-tl {
        top: -10px;
        left: -10px;
        cursor: nw-resize
    }

    .handle-tm {
        top: -10px;
        left: 50%;
        margin-left: -5px;
        cursor: n-resize
    }

    .handle-tr {
        top: -10px;
        right: -10px;
        cursor: ne-resize
    }

    .handle-ml {
        left: -10px;
        cursor: w-resize
    }

    .handle-ml, .handle-mr {
        top: 50%;
        margin-top: -5px
    }

    .handle-mr {
        right: -10px;
        cursor: e-resize
    }

    .handle-bl {
        bottom: -10px;
        left: -10px;
        cursor: sw-resize
    }

    .handle-bm {
        bottom: -10px;
        left: 50%;
        margin-left: -5px;
        cursor: s-resize
    }

    .handle-br {
        bottom: -10px;
        right: -10px;
        cursor: se-resize
    }

    .window__input {
        width: 55px;
        border: 1px solid #000000;
        border-radius: 10px;
        margin: 0 auto;
        text-align: center;
    }

    .wall {
        height: 50px;
        padding-top: 10px;
    }

    .separator {
        height: 50px;
        padding-top: 10px;
    }

    .kolona_block {
        height: 50px;
        padding-top: 5px;
    }

    .title__save {
        font-size: 30px;
    }

    table {
        font-size: 14px;
        background: white;
        max-width: 70%;
        width: 70%;
        border-collapse: collapse;
        text-align: left;
    }

    th {
        font-weight: normal;
        color: #039;
        border-bottom: 2px solid #6678b1;
        padding: 10px 8px;
    }

    td {
        border-bottom: 1px solid #ccc;
        padding: 9px 8px;
        transition: .3s linear;
    }

    @media only screen and (max-width: 768px) {
        [class*=handle-]:before {
            content: "";
            left: -10px;
            right: -10px;
            bottom: -10px;
            top: -10px;
            position: absolute
        }
    }

    .btn_share {
        width: 330px !important;
        height: 70px !important;
        margin: 0 auto !important;
        background: rgba(196, 196, 196, 0.5) !important;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
        border-radius: 10px !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    .text_date {
        font-weight: bold !important;
        font-size: 30px !important;
    }

    .date {
        font-size: 30px !important;
        margin-left: 10px !important;
    }

    .booking-top {
        padding-left: 120px !important;
        background: #F0A34F !important;
        font-weight: bold !important;
    }

    .text_booking {
        font-size: 20px;
        text-align: left;
        padding-left: 15px !important;
        font-weight: bold;
    }

    .text_booking div {
        padding-top: 15px !important;
    }

    .booking_btn {
        width: 225px !important;
    }

    .sChair {
        cursor: pointer;
    }

    .error {
        color: red;
        font-size: 14px;
        margin-top: -5px;
        margin-bottom: 10px;
    }

    .is__booking {
        background: #F0A34F;
        border-radius: 50%;
    }

    .code {
        border: 1px solid #000000;
    }

    .buttons_block_export_scheme {
        margin-top: 25px;
    }

    .v-alert {
        background: #FF5252;
        color: #fff;
        font-size: 18px;
        width: 500px;
        margin: 0 auto;
        margin-bottom: 20px;
        border-radius: 15px;
    }

    .booking__info {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 30px;
    }

    .cancel__booking {
        color: red;
        font-weight: normal;
        padding-top: 20px;
        cursor: pointer;
        width: 250px;
        margin: 0 auto;
    }

    .cancel__booking:hover {
        text-decoration: underline;
    }

    .btn__edit__booking {
        width: 355px;
        margin-bottom: 25px;
    }

    .btn__edit__booking img {
        width: 40px;
        height: 40px;
        margin-right: 3px;
        margin-left: 2px;
    }

    .booking__list {
        list-style: none;
        text-align: left;
        padding: 20px 0;
        font-size: 18px;
        line-height: 22px;
        background: url("/storage/img/bg_dialog_block.png") !important;
        margin-bottom: 0px;
    }

    .booking__list li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;
        margin-bottom: 10px;
    }

    .cancel__booking__admin__btn {
        background: #E5E5E5;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 10px 5px;
    }

    .cancel__booking__admin__btn:hover {
        background: #F0A34F;
    }

    .top_block_dialog {
        background: #fff!important;
    }

    .headline {
        border-bottom: 1px solid #000000;
        display: flex;
        justify-content: space-between;
        padding: 0;
        padding-right: 30px;
        padding-bottom: 25px;
    }

    .serch__input {
        border: 1px solid #000000;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        width: 217px;
        height: 38px;
        font-size: 15px;
        padding-left: 5px;
    }

    .top_block_dialog_places {
        background: url("/storage/img/bg_dialog_block.png") !important;
    }

    .dialog__block__bottom {
        background: url("/storage/img/bg_dialog_block.png") !important;
    }
</style>
