<template>
    <div id="app">
        <div class="form__nav">
            <div>
                <div class="title__nav">Добавить заведение</div>
                <ul>
                    <li><span class="num ">1</span><span class="li__content">Параметры заведения</span></li>
                    <li><span class="num active">2</span><span class="li__content">Выбор редактора</span></li>
                    <li><span class="num">3</span><span class="li__content">Дизайн и сохранение</span></li>
                </ul>
            </div>
        </div>
        <div class="form">
            <div>
                <div class="title__editor">Способы создания дизайна расстановки столов</div>
                <div class="editors">
                    <div class="block__editor">
                        <img src="/storage/img/editor1.png" alt="">
                        <div class="be__title">Блочный редактор</div>
                        <p>Для создания расстановки методом drag-n-drop</p>
                        <router-link to="/constructor" class="send__btn">Использовать</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {}
</script>

<style scoped>
    #app {
        background: url("/storage/img/Rectangle.png") no-repeat bottom/cover;
        display: flex;
        justify-content: center;
        font-size: 22px;
        color: #000000;
        padding: 100px 0;
    }

    .form__nav, .form {
        display: flex;
        justify-content: center;
        width: 50%;
    }

    ul, li {
        margin: 0;
        padding: 0;
    }

    ul {
        list-style: none;
    }

    li {
        font-size: 16px;
        display: flex;
        margin-bottom: 25px;
    }

    .editors {
        text-align: center;
    }

    .editors img {
        height: 110px;
        width: 110px;
        margin: 30px 0;
    }

    .num {
        font-size: 23px;
        border-radius: 50%;
        background: #E5E5E5;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        display: block;
        text-align: center;
        width: 45px;
        height: 45px;
        box-sizing: border-box;
        padding-top: 10px;
    }

    .li__content {
        display: block;
        padding-top: 20px;
        margin-left: 40px;
    }

    .title__nav {
        margin-bottom: 40px;
    }

    .active {
        background: #F0A34F;
    }

    .title__editor {
        text-align: center;
        width: 368px;
        margin: 0 auto;
    }

    .editors {
        display: flex;
        margin-top: 50px;
    }

    .block__editor {
        margin: 0 auto;
    }

    .block__editor, .ready__template {
        width: 262px;
        height: 450px;
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .block__editor:hover, .ready__template:hover {
        background: rgba(255, 255, 255, 0.9);
    }

    .be__title {
        font-size: 18px;
        width: 40%;
        margin: 0 auto;
    }

    p {
        font-size: 15px;
        color: rgba(0, 0, 0, 0.66);
        text-align: center;
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
        line-height: 18px;
    }

    .send__btn {
        display: block;
        width: 200px;
        height: 50px;
        background: rgba(196, 196, 196, 0.5);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-size: 22px;
        text-align: center;
        text-decoration: none;
        color: #000000;
        box-sizing: border-box;
        padding-top: 12px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .send__btn:hover {
        background: #F0A34F;
    }

</style>
