<template>
    <div>
        <link rel="stylesheet" href="css/app.css">
        <!--<div v-if="authorEventId === userId">-->
        <!--</div>-->
        <div class="block_constructor" v-show="authorEventId == userId">
            <div class="constructor">
                <div class="accordion">
                    <button class="accordion_" style="outline: none">Столы</button>
                    <div class="panel">
                        <div>
                            <button @click="addElement(140, 40, 40, 40, null, null, true, 'normal-table', false, 'table')">
                                <img src="storage/img/normal-table.png">Прямоугольный стол
                            </button>
                        </div>
                        <div>
                            <button @click="addElement(140, 40, 40, 40, null, null, true, 'round-table', false, 'table')">
                                <img src="storage/img/round-table.png">Круглый стол
                            </button>
                        </div>
                    </div>
                    <button class="accordion_" style="outline: none">Стулья</button>
                    <div class="panel">
                        <div><button @click="addElement(30, 30, null, null, null, null, false, 'chair', false, 'chair')"><img src="storage/img/chair.png">Персональный стул</button></div>
                        <div><button @click="addElement(120, 30, 30, 80, 30, null, true, 'sofa', false, 'chair')"><img src="storage/img/sofa.png">Диван</button></div>
                    </div>
                    <button class="accordion_" style="outline: none">Разделители</button>
                    <div class="panel">
                        <div class="wall">
                            <button @click="addElement(140, 10, 10, 10, null, null, true, 'wall', false, 'separator')">
                                <img src="storage/img/wall.png">Стена
                            </button>
                        </div>
                        <div class="separator">
                            <button @click="addElement(140, 10, 10, 10, 10, null, true, 'zone-separator', false, 'separator')">
                                <img src="storage/img/zone-separator.png">Разделитель зоны
                            </button>
                        </div>
                        <div class="kolona_block">
                            <button @click="addElement(30, 30, 30, 30, null, null, true, 'column', true, 'separator')"
                                    class="kolona"><img src="storage/img/column.png">Колонна
                            </button>
                        </div>
                    </div>
                    <button class="accordion_" style="outline: none">Прочее</button>
                    <div class="panel">
                        <div>
                            <button @click="addElement(120, 40, 40, 60, 40, null, true, 'text', false, 'text')"><img
                                    src="storage/img/text.png">Текст
                            </button>
                        </div>
                        <!--<div>-->
                            <!--<button @click="" class="element_image"><img-->
                                    <!--src="storage/img/image.png">Картинка-->
                            <!--</button>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="field" v-if="authorEventId == userId" >
                    <div v-dragscroll:nochilddrag class="constructor_field">
                        <!--Отрисовка в цикле компонентов при добавлении. Параметры задаются в соответствии с типом добавляемой мебели.-->
                        <!--Расшифровку параметров можно посмотреть в доке по адресу https://github.com/mauricius/vue-draggable-resizable#install-and-basic-usage-->
                        <vue-draggable-resizable v-for="(element, index) in elements" :key="element.index"
                                                 :parent="false" :resizable="element.resizable"
                                                 :class="setClasses(element)"
                                                 :x="element.x" :y="element.y"
                                                 :w="element.w" :h="element.h"
                                                 :grid="element.grid" :lock-aspect-ratio="element.lock"
                                                 :min-height="element.minH" :min-width="element.minW"
                                                 :max-height="element.maxH" :max-width="element.maxW"
                                                 @activated="onActivate(element, index)"
                                                 @deactivated="onDeactivate(element, index)"
                                                 @resizing="onResize" @resizestop="onResizestop"
                                                 @dragging="onDrag"
                                                 @dragstop="onDragstop"
                                                 :style="(element.class == 'text') ? 'z-index: 100' : ''">
                            <div v-if="element.class == 'chair'">
                                <div class="sub-back-chair" :class="element.posSB"></div>
                                <div class="back-chair" :class="element.posB"></div>
                            </div>
                            <div v-if="element.class == 'sofa'">
                                <div class="sub-back-sofa1" :class="element.posSB1"></div>
                                <div class="sub-back-sofa2" :class="element.posSB2"></div>
                                <div class="back-sofa" :class="element.sPosB"></div>
                            </div>
                            <div v-show="element.active" class="rotate" @click="rotateElement(element.class)"></div>
                            <!--Если добавляем элемент "Текст", то используем компонент swatches для выбора цвета текста, тут менять-->
                            <!--по идее ничего не нужно, но вот дока на всякий случай https://saintplay.github.io/vue-swatches/-->
                            <div v-if="element.class == 'text'" class="textField">
                                <input type="text" placeholder="Текст" v-model="element.text"
                                       @paste.prevent
                                       :style="'color: '+ element.color+';'+((element.isVerticalInput)?'height:'+element.w+'px;width:'+element.h+'px;font-size:'+zoom*20+'px' : 'font-size:'+zoom*20+'px')"
                                       :class="{'vertical-text': element.isVerticalInput}">
                                <div v-show="element.active" class="popup">
                                    <swatches :swatch-size="30"
                                              :trigger-style="{width:'48px', height:'48px', 'border-radius': 0}"
                                              v-model="element.color" popover-to="top"
                                              :colors="['#000', '#fff', '#808080', '#ff0000', '#0000FF', '#228B22']"
                                              :show-border="true"
                                              :wrapper-style="{width:'125px', padding:'8px', display:'flex', 'justify-content':'space-evenly', 'flex-wrap':'wrap'}"
                                              :swatch-style="{'margin-right':0, padding:'10px'}"
                                    ></swatches>
                                </div>
                            </div>
                            <div v-if="element.type == 'table'" class="tableName">
                                <input type="text" v-model="element.tableName"
                                       @paste.prevent
                                       :style="(element.isVerticalInput)?'height:'+element.w+'px;width:'+element.h+'px;font-size:'+zoom*20+'px' : 'font-size:'+zoom*20+'px'"
                                       :class="{'vertical-text': element.isVerticalInput}"
                                       @dblclick="dialogChair = true">
                            </div>
                            <div v-if="element.class == 'chair'" class="chairNumber"
                                 :style="(element.typeId > 99) ? 'font-size:'+zoom*11+'px;' : 'font-size:'+zoom*15+'px;'">
                                <div>{{ element.typeId }}</div>
                            </div>
                            <div v-if="element.class == 'sofa'" class="sChairNumber" :class="{'vertical-sofa': element.isVertical}"
                                 :style="(element.typeId > 99) ? 'font-size:'+zoom*11+'px;' : 'font-size:'+zoom*15+'px;'">
                                <div v-for="(sChair, id) in element.sChairs" class="sChair" :class="zoomValue"
                                >{{ sChair.typeId }}</div>
                            </div>
                            <div class="dependent-chairs" v-if="(element.type == 'table') && (element.chairs.length > 0)">
                                <vue-draggable-resizable v-for="(chair, id) in element.chairs" :key="id"
                                                         :resizable="false"
                                                         class="chair"
                                                         :w="chair.w" :h="chair.h"
                                                         :grid="[1,1]"
                                                         :y="chair.y"
                                                         :x="chair.x"
                                                         :lock-aspect-ratio="true"
                                                         :min-height="30" :min-width="30"
                                                         :max-height="30" :max-width="30"
                                                         :draggable="false"
                                >
                                    <div>
                                        <div class="sub-back-chair" :class="(chair.pos+'-sb-zoom'+zoom).replace( /\./g, '_' )"></div>
                                        <div class="back-chair" :class="(chair.pos+'-b-zoom'+zoom).replace( /\./g, '_' )"></div>
                                    </div>
                                    <div class="chairNumber"
                                         :style="(element.typeId > 99) ? 'font-size:'+zoom*11+'px;' : 'font-size:'+zoom*15+'px;'">
                                        <div>{{ chair.typeId }}</div>
                                    </div>
                                </vue-draggable-resizable>
                            </div>
                        </vue-draggable-resizable>
                    </div>
                    <div class="zoom">
                        <div class="zoom_buttons">
                            <button class="plus" @click="zoomIn"></button>
                            <button class="minus" @click="zoomOut"></button>
                        </div>
                    </div>
                    <div class="button_save">
                        <button @click="dialog=true">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="this.success && authorEventId != userId" class="block_booking_last_event">
            Вы не можете редактировать чужое мероприятие
        </div>
        <!--Диалоговое окно при указании количества стульев-->
        <div class="text-xs-center">
            <v-dialog
                    v-model="dialogChair"
                    width="500"
            >

                <v-card>
                    <v-card-title
                            class="headline grey lighten-2"
                            primary-title
                    >
                        Введите количество стульев
                    </v-card-title>

                    <v-card-text class="title__save">
                        <img src="/storage/img/chair.png">
                    </v-card-text>

                    <v-card-text class="title__save">
                        <input type="text" class="window__input" placeholder="0" v-model="chairsCount" @paste.prevent>
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                                color="primary"
                                flat
                                @click="writeChairs"
                        >
                            ОК
                        </v-btn>
                        <v-btn
                                color="info"
                                flat
                                @click="dialogChair = false"
                        >
                            Отмена
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
        <!--Диалоговое окно при сохранении заведения-->
        <div class="text-xs-center">
            <v-dialog
                    v-model="dialog"
                    width="500"
            >

                <v-card>
                    <v-card-title
                            class="headline grey lighten-2"
                            primary-title
                    >
                        Подтверждение действия
                    </v-card-title>

                    <v-card-text class="title__save">
                        Сохранить изменения?
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                                color="primary"
                                flat
                                @click="updateScheme"
                                class="window__btn"
                        >
                            Да
                        </v-btn>
                        <v-btn
                                color="info"
                                flat
                                @click="dialog = false"
                                class="window__btn"
                        >
                            Нет
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </div>
</template>

<script>
    import VueDraggableResizable from 'vue-draggable-resizable'
    import Swatches from 'vue-swatches'
    import VueDragscroll from 'vue-dragscroll'

    Vue.component('vue-draggable-resizable', VueDraggableResizable)
    Vue.component('vue-swatches', Swatches)
    Vue.component('vue-dragscroll', VueDragscroll)

    // Import the styles too, globally
    import "vue-swatches/dist/vue-swatches.min.css"

    export default {
        components: {Swatches},
        data() {
            return {
                active: null,           //активен ли элемент
                isVertical: false,      //повернули ли вертикально элемент (только для пунктирного разделителя нужно это свойство)
                elements: [],           //массив всех элементов
                x: null,
                y: null,
                w: null,
                h: null,
                index: 0,               //уникальный индекс (считает тупо все элементы) - нужен для правильного удаления
                zoom: 1,
                pos: 'north',           //позиции для поворота стула и дивана
                posSB: 'north-sb-zoom',
                posSB1: 's-north-sb1',
                posSB2: 's-north-sb2',
                posB: 'north-b-zoom',
                sPosB: 's-north-b',
                isVerticalInput: false, //повернут ли вертикально инпут на столе или элемент текст
                chairId: 0,             //уникальный ид стульев
                tableId: 0,             //уникальный ид столов
                schemeId: '',            //походу ид схемы)
                dialog: false,
                dialogChair: false,
                chairsCount: '',
                ctrlDown: false,
                copiedEl: null,
                authorEventId: '',
                userId: window.App.userId,
                success: false
            }
        },
        computed: {
            zoomValue: function () {
                return {
                    'sChair-zoom0_5': this.zoom == 0.5,
                    'sChair-zoom0_75': this.zoom == 0.75,
                    'sChair-zoom1_25': this.zoom == 1.25,
                    'sChair-zoom1_5': this.zoom == 1.5
                }
            }
        },
        //Удаляем ивент вьюхи и делаем свой (нужно для осуществления возможности удаления по клавише delete)
        created() {
            this.getScheme()
            document.addEventListener('keydown', this.onKeyDown)
            document.addEventListener('keyup', this.onKeyUp)
        },
        beforeDestroy() {
            document.removeEventListener('keydown', this.onKeyDown)
            document.removeEventListener('keyup', this.onKeyUp)
        },
        methods: {
            onKeyDown(e) {
                if (e.keyCode == 46 && this.active)//Если нажата клавиша delete, то вызываем метод удаления элемента
                    this.removeElement(this.index); // и передаем индекс активного элемента

                let ctrlKey = 17, cKey = 67, vKey = 86;
                if (e.keyCode == ctrlKey) this.ctrlDown = true;

                if (this.ctrlDown && e.keyCode == cKey) this.copyElement();
                if (this.ctrlDown && e.keyCode == vKey) this.pasteElement();
            },
            onKeyUp(e) {
                let ctrlKey = 17;
                if (e.keyCode == ctrlKey) this.ctrlDown = false;
            },
            setClasses(element) {
                let result = element.class;
                if (element.class == 'zone-separator') {
                    result = 'zone-separator-zoom' + this.zoom;
                    if (element.isVertical) {
                        result += ' zone-separator-vertical-zoom' + this.zoom;
                    }
                    result = result.replace( /\./g, "_" );
                }
                return result;
            },
            addElement: function (w, h, minH, minW, maxH, maxW, resizable, cl, lock, type, isVertical = false,
                                  isVerticalInput = false, chairsCount = null, pos = null, posB = null,
                                  posSB = null, sPosB = null, posSB1 = null, posSB2 = null, zoom = null,
                                  startValues = [])
            { //добавление нового элемента
                this.active = false;
                this.index = 0;
                while (true) {
                    if (this.elements.filter(el => el.index == this.index).length == 0) //Индекс должен быть уникальным
                        break;          //Поэтому делаем проверку на уникальность
                    else
                        this.index++;
                }
                if (pos !== null) {
                    if (cl == 'chair') {
                        this.pos = pos;
                        this.posB = posB.slice(0, posB.indexOf('m') + 1);
                        this.posSB = posSB.slice(0, posSB.indexOf('m') + 1);
                    } else if (cl == 'sofa') {
                        this.pos = pos;
                        this.sPosB = sPosB;
                        this.posSB1 = posSB1;
                        this.posSB2 = posSB2;
                    }
                }
                this.elements.push({    //Добавляем объект в массив с параметрами, переданными в цикле отрисовки компонента v-for
                    active: false,
                    w: Math.round(w * this.zoom * 0.1) * 10,
                    h: Math.round(h * this.zoom * 0.1) * 10,
                    x: 40,
                    y: 200,
                    minH: minH,
                    minW: minW,
                    maxH: maxH,
                    maxW: maxW,
                    resizable: resizable, // можно ли изменять размер true or false
                    lock: lock, // изменять пропорционально
                    class: cl,
                    grid: [10, 10], //сетка 10 на 10 px
                    color: '#000',
                    index: this.index, //уникальный индекс
                    pos: this.pos, //позиции (для стульев и дивана чисто)
                    posSB: (this.posSB + this.zoom).replace( /\./g, "_" ),
                    posB: (this.posB + this.zoom).replace( /\./g, "_" ),
                    sPosB: this.sPosB,
                    posSB1: this.posSB1,
                    posSB2: this.posSB2,
                    isVertical: isVertical,
                    isVerticalInput: isVerticalInput,
                    typeId: null, //id стола или стула
                    type: type, //тип (стол или стул)
                    tableName: '', //надпись на столе
                    defaultTableName: null, //дефолтная надпись на столе
                    startValues: [],
                    wasResizable: false,
                    wasDraggable: false,
                    text: ''
                });

                let lastIndex = this.elements.length - 1;
                let el = this.elements[lastIndex];

                if (this.zoom != 1) {
                    this.elements[lastIndex]['wasResizable'] = true;
                    this.elements[lastIndex]['wasDraggable'] = true;
                }

                if (startValues.length > 0)
                    el.startValues = startValues;
                else
                    el.startValues = [el.w, el.h, el.x, el.y, el.minH, el.minW];

                if (zoom !== null) {
                    if (zoom == this.zoom) {
                        el.w = w;
                        el.h = h;
                    } else {
                        el.w = Math.round(el.startValues[0] * this.zoom * 0.1) * 10;
                        el.h = Math.round(el.startValues[1] * this.zoom * 0.1) * 10;
                    }
                }

                this.elements[lastIndex]['sChairs'] = [];

                if (this.elements[lastIndex]['type'] == 'table') {
                    this.elements[lastIndex]['chairs'] = [];
                    if (chairsCount !== null)
                        this.writeChairs(true, chairsCount);
                }

                if (this.elements[lastIndex]['class'] == 'sofa') {
                    let param = (this.elements[lastIndex]['isVertical']) ? 'h' : 'w';
                    for (let i = 0; i < this.elements[lastIndex][param]; i += 40 * this.zoom) {
                        this.elements[lastIndex]['sChairs'].push({type: 'chair', typeId: null});
                    }
                }

                this.offsetElement(el);
                this.elementsNumbering(lastIndex);
                this.setDefaultTableName(lastIndex);
                this.setTableName();
                console.log(this.elements)
            },
            offsetElement(el) {
                for (let i = 0; i < this.elements.length - 1; i++) {
                    if (this.elements[i]['y'] == el.y) {
                        el.y = this.elements[i]['y'] + this.elements[i]['h'] + 10;
                        this.offsetElement(el);
                    }
                }
            },
            setChairsValues(chair) {
                if (this.zoom == 0.5 || this.zoom == 0.75) {
                    chair.w = 20;
                    chair.h = 20;
                } else if (this.zoom == 1) {
                    chair.w = 30;
                    chair.h = 30;
                } else if (this.zoom == 1.25) {
                    chair.w = 40;
                    chair.h = 40;
                } else if (this.zoom == 1.5) {
                    chair.w = 50;
                    chair.h = 50;
                }
            },
            removeElement: function (index) { //удаление элемента
                let lostTypeId = [], lostElType = [], lostElClass, tableId = null;
                if (this.elements[index]['class'] == 'chair' || (this.elements[index]['type'] == 'table' && this.elements[index]['chairs'].length === 0)) {
                    lostTypeId = this.elements[index]['typeId'];
                    lostElType = this.elements[index]['type'];
                    lostElClass = this.elements[index]['class'];
                } else if (this.elements[index]['class'] == 'sofa') {
                    this.elements[index]['sChairs'].forEach(function (ch) {
                        lostTypeId.push(ch.typeId);
                        lostElType = 'chair';
                    });
                    lostElClass = this.elements[index]['class'];
                } else if (this.elements[index]['type'] == 'table' && this.elements[index]['chairs'].length > 0) {
                    this.elements[index]['chairs'].forEach(function (ch) {
                        lostTypeId.push(ch.typeId);
                    });
                    lostElType = 'table';
                    lostElClass = this.elements[index]['class'];
                    tableId = this.elements[index]['typeId'];
                }
                this.elementsDisnumbering(lostTypeId, lostElType, lostElClass, tableId);
                this.elements.splice(index, 1);
                let lastIndex = this.elements.length - 1;
                this.active = false;
                this.setTableName(lastIndex);
            },
            copyElement () {
                if (this.elements.length > 0) {
                    this.copiedEl = JSON.parse(JSON.stringify(this.elements[this.index]));
                    this.copiedEl.zoom = this.zoom;
                }
            },
            pasteElement () {
                let copiedEl = this.copiedEl;
                if (copiedEl !== null) {
                    let chairsCount = (copiedEl.type == 'table') ? copiedEl.chairs.length : null;
                    this.addElement(copiedEl.w, copiedEl.h, copiedEl.minH, copiedEl.minW, copiedEl.maxH,
                        copiedEl.maxW, copiedEl.resizable, copiedEl.class, copiedEl.lock, copiedEl.type,
                        copiedEl.isVertical, copiedEl.isVerticalInput, chairsCount, copiedEl.pos, copiedEl.posB,
                        copiedEl.posSB, copiedEl.sPosB, copiedEl.posSB1, copiedEl.posSB2, copiedEl.zoom,
                        copiedEl.startValues);
                }
            },
            rotateElement: function (cl) { //поворот элемента
                if (cl == 'chair') {
                    switch (this.elements[this.index]['pos']) {
                        case 'north':
                            this.elements[this.index]['pos'] = 'west';
                            this.elements[this.index]['posSB'] = ('west-sb-zoom' + this.zoom).replace( /\./g, "_" );
                            this.elements[this.index]['posB'] = ('west-b-zoom' + this.zoom).replace( /\./g, "_" );
                            break;
                        case 'west':
                            this.elements[this.index]['pos'] = 'south';
                            this.elements[this.index]['posSB'] = ('south-sb-zoom' + this.zoom).replace( /\./g, "_" );
                            this.elements[this.index]['posB'] = ('south-b-zoom' + this.zoom).replace( /\./g, "_" );
                            break;
                        case 'south':
                            this.elements[this.index]['pos'] = 'east';
                            this.elements[this.index]['posSB'] = ('east-sb-zoom' + this.zoom).replace( /\./g, "_" );
                            this.elements[this.index]['posB'] = ('east-b-zoom' + this.zoom).replace( /\./g, "_" );
                            break;
                        case 'east':
                            this.elements[this.index]['pos'] = 'north';
                            this.elements[this.index]['posSB'] = ('north-sb-zoom' + this.zoom).replace( /\./g, "_" );;
                            this.elements[this.index]['posB'] = ('north-b-zoom' + this.zoom).replace( /\./g, "_" );
                            break;
                    }
                } else if (cl == 'sofa') {
                    this.elements[this.index]['isVertical'] = !this.elements[this.index]['isVertical'];
                    this.elements[this.index]['minW'] = [this.elements[this.index]['minH'], this.elements[this.index]['minH'] = this.elements[this.index]['minW']][0];
                    this.elements[this.index]['maxH'] = [this.elements[this.index]['maxW'], this.elements[this.index]['maxW'] = this.elements[this.index]['maxH']][0];
                    this.elements[this.index]['w'] = [this.h, this.h = this.elements[this.index]['w']][0];
                    this.elements[this.index]['h'] = [this.w, this.w = this.elements[this.index]['h']][0];

                    switch (this.elements[this.index]['pos'])
                    {
                        case 'north': this.elements[this.index]['pos'] = 'west'; this.elements[this.index]['posSB1'] = 's-west-sb1'; this.elements[this.index]['posSB2'] = 's-west-sb2'; this.elements[this.index]['sPosB'] = 's-west-b'; break;
                        case 'west': this.elements[this.index]['pos'] = 'south'; this.elements[this.index]['posSB1'] = 's-south-sb1'; this.elements[this.index]['posSB2'] = 's-south-sb2'; this.elements[this.index]['sPosB'] = 's-south-b'; break;
                        case 'south': this.elements[this.index]['pos'] = 'east'; this.elements[this.index]['posSB1'] = 's-east-sb1'; this.elements[this.index]['posSB2'] = 's-east-sb2'; this.elements[this.index]['sPosB'] = 's-east-b'; break;
                        case 'east': this.elements[this.index]['pos'] = 'north'; this.elements[this.index]['posSB1'] = 's-north-sb1'; this.elements[this.index]['posSB2'] = 's-north-sb2'; this.elements[this.index]['sPosB'] = 's-north-b'; break;
                    }
                    this.elements[this.index]['wasResizable'] = true;
                } else if (cl == 'normal-table' || cl == 'round-table'){
                    this.elements[this.index]['isVertical'] = !this.elements[this.index]['isVertical'];
                    this.elements[this.index]['isVerticalInput'] = !this.elements[this.index]['isVerticalInput'];
                    this.elements[this.index]['minW'] = [this.elements[this.index]['minH'], this.elements[this.index]['minH'] = this.elements[this.index]['minW']][0];
                    this.elements[this.index]['maxH'] = [this.elements[this.index]['maxW'], this.elements[this.index]['maxW'] = this.elements[this.index]['maxH']][0];
                    this.elements[this.index]['w'] = [this.h, this.h = this.elements[this.index]['w']][0];
                    this.elements[this.index]['h'] = [this.w, this.w = this.elements[this.index]['h']][0];
                    if (this.elements[this.index]['chairs'].length > 0) this.arrangeChairs(this.elements[this.index]['chairs'].length);
                } else {
                    if (cl == 'zone-separator') this.elements[this.index]['isVertical'] = !this.elements[this.index]['isVertical'];
                    if (cl == 'text') this.elements[this.index]['isVerticalInput'] = !this.elements[this.index]['isVerticalInput'];
                    this.elements[this.index]['minW'] = [this.elements[this.index]['minH'], this.elements[this.index]['minH'] = this.elements[this.index]['minW']][0];
                    this.elements[this.index]['maxH'] = [this.elements[this.index]['maxW'], this.elements[this.index]['maxW'] = this.elements[this.index]['maxH']][0];
                    this.elements[this.index]['w'] = [this.h, this.h = this.elements[this.index]['w']][0];
                    this.elements[this.index]['h'] = [this.w, this.w = this.elements[this.index]['h']][0];
                    this.elements[this.index]['wasResizable'] = true;
                }
            },
            onActivate: function (element, index) { //при активации взять координаты выделенного элемента
                element.active = true;
                this.active = element.active;
                this.w = element.w;
                this.h = element.h;
                this.x = element.x;
                this.y = element.y;
                this.index = index;
            },
            onDeactivate: function (element, index) { //при деактивации элемент не активен
                element.active = false;
                this.active = element.active;
                this.index = index;
            },
            onDrag: function (x, y) {   //при перемещении элемента обновляем координаты
                //if (this.elements[this.index]['class'] == 'sofa') this.elements[this.index]['grid'] = [10, 10];
                this.x = x;
                this.y = y;
                this.changeElement();
                if (this.zoom != 1)
                    this.elements[this.index]['wasDraggable'] = true;
            },
            onDragstop: function () { // когда закончили двигать диван меняем размер сетки
                // if (this.elements[this.index]['class'] == 'sofa') {
                //     if (!this.elements[this.index]['isVertical'])
                //         this.elements[this.index]['grid'] = [40, 10];
                //     else this.elements[this.index]['grid'] = [10, 40];
                // }
            },
            onResize: function (x, y, width, height) {  //при изменении размера элемента обновляем координаты и ширину с длиной
                this.x = x;
                this.y = y;
                this.width = width;
                this.height = height;
                this.w = width;
                this.h = height;
                this.changeElement();

                if (this.elements[this.index]['class'] == 'sofa')
                    this.disnumberingForSofa();

                if (this.elements[this.index]['type'] == 'table' && this.elements[this.index]['chairs'].length > 0) {
                    let parentH = this.elements[this.index]['h'];
                    let parentW = this.elements[this.index]['w'];
                    let zoom = this.zoom;
                    this.elements[this.index].chairs.forEach(function (ch) {
                        if (ch.pos == 'north') ch.y = parentH + 10 * zoom;
                        if (ch.pos == 'west') ch.x = parentW + 10 * zoom;
                    });
                }

                if(this.zoom != 1)
                    this.elements[this.index]['wasResizable'] = true;
            },
            disnumberingForSofa: function () {          //перестройка нумерации при измненении длины дивана
                let lostTypeId = [], lostElType = '';
                this.elements[this.index]['sChairs'].forEach(function (ch) {
                    lostTypeId.push(ch.typeId);
                    lostElType = 'chair';
                });

                this.elements[this.index]['sChairs'] = [];
                let lastEl;

                let param = (this.elements[this.index]['isVertical']) ? 'h' : 'w';
                for (let i = 0, j = 0; i < this.elements[this.index][param]; i += 40 * this.zoom) {
                    if (j < lostTypeId.length) {
                        this.elements[this.index]['sChairs'].push({type: 'chair', typeId: lostTypeId[j]});
                        lastEl = lostTypeId[j];
                        j++;
                    } else {
                        this.elements[this.index]['sChairs'].push({type: 'chair', typeId: ++lostTypeId[j - 1]});
                        this.chairId++;
                        lastEl = lostTypeId[j - 1];
                    }
                }

                let currentIndex = this.index;
                this.elements.forEach(function (el, index) {
                    if (el.type == lostElType) {
                        if (el.typeId > lostTypeId[0] && el.class == 'chair') {
                            el.typeId = ++lastEl;
                            //el.typeId += addedEls;
                        }
                        if (el.class == 'sofa' && index != currentIndex && el.sChairs[el.sChairs.length - 1]['typeId'] > lostTypeId[0]) {
                            el.sChairs.forEach(function (ch) {                  //перестроить нумерацию диванов при растягивании дивана
                                ch.typeId = ++lastEl;
                            });
                        }
                    }
                    if (el.type == 'table' && el.chairs.length > 0 && el.chairs[el.chairs.length - 1]['typeId'] > lostTypeId[0]) {
                        el.chairs.forEach(function (ch) {                  //перестроить нумерацию диванов при растягивании дивана
                            ch.typeId = ++lastEl;
                        });
                    }
                });
                this.chairId = lastEl;
            },
            onResizestop: function () {

            },
            changeElement: function () { //считывание координат и длины с шириной
                this.elements[this.index]['w'] = this.w;
                this.elements[this.index]['h'] = this.h;
                this.elements[this.index]['x'] = this.x;
                this.elements[this.index]['y'] = this.y;
            },
            elementsNumbering: function (lastIndex) { //нумерация элементов
                if (this.elements[lastIndex]['type'] == 'chair') {
                    let chairId = this.chairId;
                    this.elements.forEach(function (el) {
                        if (el.typeId == null && el.class == 'chair') el.typeId = ++chairId;
                        if (el.class == 'sofa') {
                            el.sChairs.forEach(function (ch) {
                                if (ch.typeId == null && ch.type == 'chair') {
                                    ch.typeId = ++chairId;
                                }
                            });
                        }
                    });
                    this.chairId = chairId;
                } else if (this.elements[lastIndex]['type'] == 'table') {
                    let tableId = this.tableId;
                    this.elements.forEach(function (el) {
                        if (el.typeId == null && el.type == 'table') el.typeId = ++tableId;
                    });
                    this.tableId = tableId;
                }
            },
            elementsDisnumbering: function (lostTypeId, lostElType, lostElClass, tableId) { //перестроить нумерацию при удалении
                if (Array.isArray(lostTypeId)) {
                    if (lostElType == 'table' && this.elements[this.index]['chairs'].length > 0) {//если удалили стол с привязанными стульями
                        this.elements.forEach(function (el) {
                            if (el.class == 'chair' && el.typeId > lostTypeId[0]) el.typeId -= lostTypeId.length;//пересчитать стулья
                            el.sChairs.forEach(function (ch) {              //пересчитать диваны
                                if (ch.typeId > lostTypeId[0]) ch.typeId -= lostTypeId.length;
                            });
                            if (el.type == 'table') {           //пересчитать столы и стулья, привязанные к столам
                                if (el.typeId > tableId) el.typeId--;
                                el.chairs.forEach(function (ch) {
                                    if (ch.typeId > lostTypeId[0]) ch.typeId -= lostTypeId.length;
                                });
                            }
                        });
                    } else { //если удалили диван
                        this.elements.forEach(function (el) {
                            if (el.class == 'chair' && el.typeId > lostTypeId[0]) el.typeId -= lostTypeId.length; //перестроить нумерацию стульев при удалении дивана
                            el.sChairs.forEach(function (ch) {                              //перестроить нумерацию диванов при удалении дивана
                                if (ch.typeId > lostTypeId[0]) ch.typeId -= lostTypeId.length;
                            });
                            if (el.type == 'table') {           //пересчитать столы и стулья, привязанные к столам
                                el.chairs.forEach(function (ch) {
                                    if (ch.typeId > lostTypeId[0]) ch.typeId -= lostTypeId.length;
                                });
                            }
                        });
                    }
                } else { //если удалили стол или стул
                    this.elements.forEach(function (el) {
                        if (el.type == lostElType) {
                            if (el.typeId > lostTypeId) el.typeId--;
                            el.sChairs.forEach(function (ch) {
                                if (ch.typeId > lostTypeId) ch.typeId--;
                            });
                        }
                        if (el.type == 'table') {           //пересчитать столы и стулья, привязанные к столам
                            el.chairs.forEach(function (ch) {
                                if (ch.typeId > lostTypeId) ch.typeId--;
                            });
                        }
                    });
                }
                if (lostElType == 'chair') {
                    if (lostElClass == 'chair')
                        this.chairId--;
                    else
                        this.chairId -= lostTypeId.length;
                }
                else if (lostElType == 'table') {
                    this.tableId--;
                    if (tableId != null)
                        this.chairId -= lostTypeId.length;
                }
            },
            setDefaultTableName: function (lastIndex) { //установить напдпись на столе по умолчанию
                if (this.elements[lastIndex]['type'] == 'table' && this.elements[lastIndex]['defaultTableName'] === null) {
                    this.elements[lastIndex]['defaultTableName'] = this.elements[lastIndex]['tableName'] = 'Стол ' + this.elements[lastIndex]['typeId'];
                }
            },
            setTableName: function () { //установить кастомную напдпись на столе
                this.elements.forEach(function (el) {
                    if (el.type == 'table' && el.tableName == el.defaultTableName) {
                        el.defaultTableName = el.tableName = 'Стол ' + el.typeId;
                    }
                });
            },
            writeChairs: function (copy = false, copyChairsCount) {
                if (!isNaN(+this.chairsCount) || copy) {
                    this.chairsCount = (copy === true) ? copyChairsCount : +this.chairsCount;
                    let lostTypeId = [];
                    if (this.chairsCount === 0) {
                        this.elements[this.index]['chairs'].forEach(function (ch) {
                            lostTypeId.push(ch.typeId);
                        });
                        if (!copy)
                            this.elementsDisnumbering(lostTypeId, 'table', '', this.elements[this.index]['typeId']);
                        this.elements[this.index]['chairs'] = [];
                        this.dialogChair = false;
                    }
                    else if (this.elements[this.index]['chairs'].length == 0) {
                        for (let i = 0; i < this.chairsCount; i++) {
                            this.elements[this.index]['chairs'].push({type: 'chair', typeId: ++this.chairId})
                        }
                    } else {
                        let lostTypeId = [], lostElType = '', currentChairId = [];
                        this.elements[this.index]['chairs'].forEach(function (ch) {
                            lostTypeId.push(ch.typeId);
                            lostElType = 'chair';
                        });

                        this.elements[this.index]['chairs'] = [];
                        let lastEl;
                        for (let i = 0, j = 0; i < this.chairsCount; i++) {
                            if (j < lostTypeId.length) {
                                this.elements[this.index]['chairs'].push({type: 'chair', typeId: lostTypeId[j]});
                                lastEl = lostTypeId[j];
                                j++;
                            } else {
                                this.elements[this.index]['chairs'].push({type: 'chair', typeId: ++lostTypeId[j - 1]});
                                this.chairId++;
                                lastEl = lostTypeId[j - 1];
                            }
                        }

                        this.elements[this.index]['chairs'].forEach(function (ch) {
                            currentChairId.push(ch.typeId);
                        });

                        let currentIndex = this.index;
                        this.elements.forEach(function (el, index) {
                            if (el.type == lostElType) {
                                if (el.class == 'chair' && el.typeId > currentChairId[0]) {
                                    el.typeId = ++lastEl;
                                }
                                if (el.class == 'sofa' && el.sChairs[el.sChairs.length - 1]['typeId'] > currentChairId[0]) {
                                    el.sChairs.forEach(function (ch) {                  //перестроить нумерацию диванов при растягивании дивана
                                        ch.typeId = ++lastEl;
                                    });
                                }
                            }
                            if (el.type == 'table' && index != currentIndex && el.chairs.length > 0 && el.chairs[el.chairs.length - 1]['typeId'] > currentChairId[0]) {
                                el.chairs.forEach(function (ch) {                  //перестроить нумерацию диванов при растягивании дивана
                                    ch.typeId = ++lastEl;
                                });
                            }
                        });
                        this.chairId = lastEl;
                    }
                    this.dialogChair = false;
                    if (this.chairsCount != 0) {
                        let param = (this.elements[this.index]['isVertical']) ? 'h' : 'w';
                        this.resizeTable(this.chairsCount, param);
                    }
                }
            },
            resizeTable: function (chairsCount, param) {
                this.elements[this.index][param] = (chairsCount % 2 == 0) ? Math.round(chairsCount * 25 * this.zoom * 0.1) * 10 : Math.round(Math.ceil(chairsCount / 2) * 50 * this.zoom * 0.1) * 10;
                this.elements[this.index]['wasResizable'] = true;
                this.elements[this.index]['wasDraggable'] = true;
                this.arrangeChairs(chairsCount, this.index);
            },
            arrangeChairs: function (chairsCount, index) {
                if (this.elements[index]['isVertical']) {
                    let offsetX = this.elements[index]['w'];
                    let offsetYTop = Math.round(10 * this.zoom), offsetYBot = Math.round(10 * this.zoom), i = chairsCount;
                    this.elements[index].chairs.forEach(ch => {
                        if (i > chairsCount / 2) {
                            ch.y = offsetYBot;
                            offsetYBot += Math.round(50 * this.zoom);
                            ch.x = offsetX + Math.round(10 * this.zoom);
                            ch.pos = 'west';
                        } else {
                            ch.y = offsetYTop;
                            offsetYTop += Math.round(50 * this.zoom);
                            ch.x = (this.zoom == 0.5) ? Math.round(-50 * this.zoom) : Math.round(-40 * this.zoom);
                            ch.pos = 'east';
                        }
                        i--;
                        this.setChairsValues(ch);
                    });
                } else {
                    let offsetY = this.elements[index]['h'] ;
                    let offsetXTop = Math.round(10 * this.zoom), offsetXBot = Math.round(10 * this.zoom), i = chairsCount;
                    this.elements[index].chairs.forEach(ch => {
                        if (i > chairsCount / 2) {
                            ch.x = offsetXBot;
                            offsetXBot += Math.round(50 * this.zoom);
                            ch.y = offsetY + Math.round(10 * this.zoom);
                            ch.pos = 'north';
                        } else {
                            ch.x = offsetXTop;
                            offsetXTop += Math.round(50 * this.zoom);
                            ch.y = (this.zoom == 0.5) ? Math.round(-50 * this.zoom) : Math.round(-40 * this.zoom);
                            ch.pos = 'south';
                        }
                        i--;
                        this.setChairsValues(ch);
                    });
                }
            },
            zoomIn: function () {
                if (this.zoom < 1.5) {
                    this.zoom += 0.25;
                    this.elements.forEach((el, index) => {
                        if(this.zoom == 1.25) {
                            el.startValues = [el.w, el.h, el.x, el.y, el.minH, el.minW];
                        }
                        if (el.wasResizable) {
                            el.startValues[0] = Math.round(el.w * (1 / (this.zoom - 0.25)) * 0.1) * 10;
                            el.startValues[1] = Math.round(el.h * (1 / (this.zoom - 0.25)) * 0.1) * 10;
                            el.wasResizable = false;
                        }
                        if (el.wasDraggable) {
                            el.startValues[2] = Math.round(el.x * (1 / (this.zoom - 0.25)) * 0.1) * 10;
                            el.startValues[3] = Math.round(el.y * (1 / (this.zoom - 0.25)) * 0.1) * 10;
                            el.wasDraggable = false;
                        }
                        el.w = Math.round(el.startValues[0] * this.zoom * 0.1) * 10;
                        el.h = Math.round(el.startValues[1] * this.zoom * 0.1) * 10;
                        el.x = Math.round(el.startValues[2] * this.zoom * 0.1) * 10;
                        el.y = Math.round(el.startValues[3] * this.zoom * 0.1) * 10;
                        // el.minH = el.startValues[4] * this.zoom;
                        // el.minW = el.startValues[5] * this.zoom;
                        //el.minH = 50;
                        if (el.type == 'table' && el.chairs.length > 0) {
                            this.arrangeChairs(el.chairs.length, index);
                        }
                        if (el.class == 'chair') {
                            el.posB = (el.pos + '-b-zoom' + this.zoom).replace( /\./g, "_" );
                            el.posSB = (el.pos + '-sb-zoom' + this.zoom).replace( /\./g, "_" );

                            this.setChairsValues(el);
                        } else if (el.type == 'table' && el.chairs.length > 0) {
                            el.chairs.forEach(ch => {
                                ch.posB = (ch.pos + '-b-zoom' + this.zoom).replace( /\./g, "_" );
                                ch.posSB = (ch.pos + '-sb-zoom' + this.zoom).replace( /\./g, "_" );

                                this.setChairsValues(ch);
                            });
                        }
                        console.log(el.x)
                    });
                }
            },
            zoomOut: function () {
                if (this.zoom > 0.5) {
                    this.zoom -= 0.25;
                    this.elements.forEach((el, index) => {
                        if(this.zoom == 0.75) {
                            el.startValues = [el.w, el.h, el.x, el.y, el.minH, el.minW];
                        }
                        if (el.wasResizable) {
                            el.startValues[0] = Math.round(el.w * (1 / (this.zoom + 0.25)) * 0.1) * 10;
                            el.startValues[1] = Math.round(el.h * (1 / (this.zoom + 0.25)) * 0.1) * 10;
                            el.wasResizable = false;
                        }
                        if (el.wasDraggable) {
                            el.startValues[2] = Math.round(el.x * (1 / (this.zoom + 0.25)) * 0.1) * 10;
                            el.startValues[3] = Math.round(el.y * (1 / (this.zoom + 0.25)) * 0.1) * 10;
                            el.wasDraggable = false;
                        }
                        el.w = Math.round(el.startValues[0] * this.zoom * 0.1) * 10;
                        el.h = Math.round(el.startValues[1] * this.zoom * 0.1) * 10;
                        el.x = Math.round(el.startValues[2] * this.zoom * 0.1) * 10;
                        el.y = Math.round(el.startValues[3] * this.zoom * 0.1) * 10;
                        // el.minH = el.startValues[4] * this.zoom;
                        // el.minW = el.startValues[5] * this.zoom;
                        // el.maxW *= this.zoom;
                        // el.maxH *= this.zoom;
                        //el.minH -= 10;
                        if (el.type == 'table' && el.chairs.length > 0) {
                            this.arrangeChairs(el.chairs.length, index);
                            console.log(el.x)
                        }
                        if (el.class == 'chair') {
                            el.posB = (el.pos + '-b-zoom' + this.zoom).replace( /\./g, "_" );
                            el.posSB = (el.pos + '-sb-zoom' + this.zoom).replace( /\./g, "_" );

                            this.setChairsValues(el);
                        } else if (el.type == 'table' && el.chairs.length > 0) {
                            el.chairs.forEach(ch => {
                                ch.posB = (ch.pos + '-b-zoom' + this.zoom).replace( /\./g, "_" );
                                ch.posSB = (ch.pos + '-sb-zoom' + this.zoom).replace( /\./g, "_" );

                                this.setChairsValues(ch);
                            });
                        }
                    });
                }
            },
            beforeSave () {
                if (this.zoom > 1) {
                    while(this.zoom != 1) {
                        this.zoomOut();
                    }
                } else if (this.zoom < 1) {
                    while (this.zoom != 1) {
                        this.zoomIn();
                    }
                }
            },
            updateScheme() { // сохранение схемы в бд
                this.beforeSave();
                axios({
                    method: 'post',
                    url: '/update-scheme',
                    data: {
                        schemeId: this.$route.params.id,
                        json: this.elements,
                        lastTableId: this.tableId,
                        lastChairId: this.chairId
                    }
                }).then((response) => {
                    this.schemeId = response.data
                    this.$router.push({name: 'booking', params: {id: this.$route.params.id}})
                    this.savePlaces()
                })
            },
            getScheme() {
                axios.get('/get-scheme', {
                    params: {
                        schemeId: this.$route.params.id
                    }
                }).then((response) => {
                    this.elements = response.data.scheme
                    this.chairId = response.data.lastChair
                    this.tableId = response.data.lastTable
                    this.authorEventId = response.data.user_id
                    this.success = true;
                })
            },
            savePlaces() { // сохранение мест в бд
                axios({
                    method: 'post',
                    url: '/save-places',
                    data: {
                        chairCount: this.chairId,
                        schemeId: this.$route.params.id
                    }
                }).then((response) => {
                })
            }
        },

        mounted() {
            var acc = document.getElementsByClassName("accordion_");    //скрипт аккордеона
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                });
            }
        },
    }
</script>

<style>
    .parent {
        font-size: 12px;
        position: relative;
    }

    .constructor_field .round-table {
        border-radius: 80%;
    }

    .constructor_field .normal-table {
        border-radius: 10px;
    }

    .constructor_field .wall,
    .constructor_field .column {
        background: #000000;
    }

    .constructor_field .zone-separator-zoom0_5 {
        border-style: none;
        border-top: 5px dashed #000000;
        background: none;
    }

    .constructor_field .zone-separator-zoom0_75 {
        border-style: none;
        background: none;
        border-top: 8px dashed #000000;
    }

    .constructor_field .zone-separator-zoom1 {
        border-style: none;
        background: none;
        border-top: 10px dashed #000000;
    }

    .constructor_field .zone-separator-zoom1_25 {
        border-style: none;
        background: none;
        border-top: 13px dashed #000000;
    }

    .constructor_field .zone-separator-zoom1_5 {
        border-style: none;
        background: none;
        border-top: 15px dashed #000000;
    }

    .constructor_field .zone-separator-vertical-zoom0_5 {
        border-style: none;
        background: none;
        border-top: none;
        border-left: 5px dashed #000000;
    }

    .constructor_field .zone-separator-vertical-zoom0_75 {
        border-style: none;
        background: none;
        border-left: 8px dashed #000000;
    }

    .constructor_field .zone-separator-vertical-zoom1 {
        border-style: none;
        background: none;
        border-left: 10px dashed #000000;
    }

    .constructor_field .zone-separator-vertical-zoom1_25 {
        border-style: none;
        background: none;
        border-left: 13px dashed #000000;
    }

    .constructor_field .zone-separator-vertical-zoom1_5 {
        border-style: none;
        background: none;
        border-left: 15px dashed #000000;
    }

    .constructor_field .text {
        background: rgba(255, 255, 255, 0);
        border: none;
    }

    .textField,
    .tableName {
        height: 100%;
        position: relative;
    }

    .constructor_field input {
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0);
        border: none;
        text-align: center;
        font-size: 20px;
    }

    input.vertical-text {
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -webkit-transform-origin: left top 0;
        transform-origin: left top 0;
        position: absolute;
        left: 100%;
    }

    .popup {
        position: absolute;
        right: -60px;
        top: 0;
    }

    .chair,
    .back-chair,
    .sub-back-chair,
    .sofa,
    .back-sofa,
    .sub-back-sofa1,
    .sub-back-sofa2 {
        background: #C4C4C4;
        border: 1px solid #000000;
        position: absolute;
    }

    .chair {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chair {
        border-radius: 80%;
    }

    .sofa {
        border-radius: 10px;
    }

    .vertical-sofa {
        flex-direction: column;
    }

    .sChairNumber {
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .sChair {
        background: #C4C4C4;
        border: 1px solid #000000;
        box-sizing: border-box;
        color: #000;
        font-weight: bold;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 80%;
    }

    .sChairNumber .sChair-zoom0_5 {
        width: 10px;
        height: 10px;
        line-height: 10px;
    }

    .sChairNumber .sChair-zoom0_75 {
        width: 15px;
        height: 15px;
        line-height: 15px;
    }

    .sChairNumber .sChair-zoom1_25 {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .sChairNumber .sChair-zoom1_5 {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .back-chair {
        left: 0;
        top: 31px;
        height: 5px;
        width: 100%;
        border-radius: 10px;
    }

    .sub-back-chair {
        left: 13px;
        top: 101%;
        height: 3px;
        width: 3px;
    }

    .constructor_field .north-b-zoom0_5 {
        top: 112%;
        height: 3px;
    }

    .constructor_field .north-sb-zoom0_5 {
        left: 8px;
        height: 1px;
        width: 1px;
        top: 103%;
    }

    .constructor_field .north-b-zoom0_75 {
        top: 109%;
        height: 4px;
    }

    .constructor_field .north-sb-zoom0_75 {
        left: 8px;
        height: 2px;
        width: 2px;
        top: 103%;
    }

    .constructor_field .north-b-zoom1_25 {
        top: 109%;
        height: 7px;
        left: -1px;
    }

    .constructor_field .north-sb-zoom1_25 {
        left: 17px;
        height: 4px;
        width: 4px;
        top: 101%;
    }

    .constructor_field .north-b-zoom1_5 {
        top: 110%;
        height: 8px;
        left: 0;
    }

    .constructor_field .north-sb-zoom1_5 {
        left: 22px;
        height: 5px;
        width: 5px;
        top: 101%;
    }

    .back-sofa {
        left: -1px;
        bottom: -16px;
        height: 10px;
        width: 100%;
        border-radius: 10px;
    }

    .sub-back-sofa1 {
        left: 15px;
        top: 100%;
        height: 7px;
        width: 6px;
    }

    .sub-back-sofa2 {
        right: 15px;
        top: 100%;
        height: 7px;
        width: 6px;
    }

    .constructor .west-b-zoom1 {
        transform: rotate(90deg);
        left: 19px;
        top: 12px;
    }

    .constructor .west-sb-zoom1 {
        left: 100%;
        top: 13px;
    }

    .constructor .west-b-zoom0_5 {
        transform: rotate(90deg);
        left: 14px;
        top: 7px;
        height: 5px;
    }

    .constructor .west-sb-zoom0_5 {
        left: 105%;
        top: 8px;
        height: 2px;
        width: 2px;
    }

    .constructor .west-b-zoom0_75 {
        transform: rotate(90deg);
        left: 13px;
        top: 7px;
        height: 4px;
    }

    .constructor .west-sb-zoom0_75 {
        left: 103%;
        top: 8px;
        height: 2px;
        width: 2px;
    }

    .constructor .west-b-zoom1_25 {
        transform: rotate(90deg);
        left: 25px;
        top: 16px;
        height: 6px;
    }

    .constructor .west-sb-zoom1_25 {
        left: 101%;
        top: 17px;
        height: 4px;
        width: 4px;
    }

    .constructor .west-b-zoom1_5 {
        transform: rotate(90deg);
        left: 32px;
        top: 21px;
        height: 8px;
    }

    .constructor .west-sb-zoom1_5 {
        left: 100%;
        top: 22px;
        height: 5px;
        width: 5px;
    }

    .s-west-b {
        left: auto !important;
        right: -16px !important;
        bottom: 0;
        width: 10px;
        height: 100%;
    }

    .s-west-sb1 {
        left: 100%;
        top: 15px;
        height: 6px;
        width: 7px;
    }

    .s-west-sb2 {
        left: 100%;
        top: auto;
        bottom: 15px;
        height: 6px;
        width: 7px;
    }

    .constructor .south-b-zoom0_5 {
        transform: rotate(180deg);
        left: 0;
        top: -5px;
        height: 3px;
    }

    .constructor .south-sb-zoom0_5 {
        left: 8px;
        top: -2px;
        height: 1px;
        width: 1px;
    }

    .constructor .south-b-zoom0_75 {
        transform: rotate(180deg);
        left: 0;
        top: -6px;
        height: 4px;
    }

    .constructor .south-sb-zoom0_75 {
        left: 8px;
        top: -2px;
        height: 2px;
        width: 2px;
    }

    .constructor .south-b-zoom1 {
        transform: rotate(180deg);
        left: 0;
        top: -8px;
    }

    .constructor .south-sb-zoom1 {
        top: auto;
        left: 12px;
        bottom: 101%;
    }

    .constructor .south-b-zoom1_25 {
        transform: rotate(180deg);
        left: 0;
        top: -10px;
        height: 6px;
    }

    .constructor .south-sb-zoom1_25 {
        left: 17px;
        top: -4px;
        height: 4px;
        width: 4px;
    }

    .constructor .south-b-zoom1_5 {
        transform: rotate(180deg);
        left: 0;
        top: -12px;
        height: 8px;
    }

    .constructor .south-sb-zoom1_5 {
        left: 22px;
        top: -5px;
        height: 5px;
        width: 5px;
    }

    .s-south-b {
        left: 0;
        top: -16px;
    }

    .s-south-sb1 {
        left: 15px;
        top: auto;
        bottom: 101%;
        height: 7px;
        width: 6px;
    }

    .s-south-sb2 {
        right: 15px;
        top: auto;
        bottom: 101%;
        height: 7px;
        width: 6px;
    }

    .constructor .east-b-zoom0_5 {
        transform: rotate(270deg);
        left: -12px;
        top: 8px;
        height: 3px;
    }

    .constructor .east-sb-zoom0_5 {
        top: 8px;
        left: auto;
        right: 102%;
        height: 1px;
        width: 1px;
    }

    .constructor .east-b-zoom0_75 {
        transform: rotate(270deg);
        left: -13px;
        top: 8px;
        height: 4px;
    }

    .constructor .east-sb-zoom0_75 {
        top: 8px;
        left: auto;
        right: 105%;
        height: 2px;
        width: 2px;
    }

    .constructor .east-b-zoom1 {
        transform: rotate(270deg);
        left: -19px;
        top: 12px;
    }

    .constructor .east-sb-zoom1 {
        top: 13px;
        left:auto;
        right: 101%;
    }

    .constructor .east-b-zoom1_25 {
        transform: rotate(270deg);
        left: -25px;
        top: 17px;
        height: 6px;
    }

    .constructor .east-sb-zoom1_25 {
        top: 17px;
        left: auto;
        right: 101%;
        height: 4px;
        width: 4px;
    }

    .constructor .east-b-zoom1_5 {
        transform: rotate(270deg);
        left: -32px;
        top: 21px;
        height: 8px;
    }

    .constructor .east-sb-zoom1_5 {
        top: 22px;
        left: auto;
        right: 100%;
        height: 5px;
        width: 5px;
    }

    .s-east-b {
        left: -16px;
        bottom: 0;
        width: 10px;
        height: 100%;
    }

    .s-east-sb1 {
        left: auto;
        right: 101%;
        top: 15px;
        height: 6px;
        width: 7px;
    }

    .s-east-sb2 {
        left: auto;
        right: 101%;
        top: auto;
        bottom: 15px;
        height: 6px;
        width: 7px;
    }

    .chairNumber,
    .tableName {
        color: #000;
        font-weight: bold;
        font-size: 15px;
    }

    .tableName {
        color: #fff;
        font-weight: normal;
    }

    .vdr {
        touch-action: none;
        border: 1px solid #000;
    }

    .items-align {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .handle, .vdr {
        position: absolute;
        box-sizing: border-box;
    }

    .handle {
        width: 10px;
        height: 10px;
        background: #eee;
        border: 1px solid #333
    }

    .handle-tl {
        top: -10px;
        left: -10px;
        cursor: nw-resize
    }

    .handle-tm {
        top: -10px;
        left: 50%;
        margin-left: -5px;
        cursor: n-resize
    }

    .handle-tr {
        top: -10px;
        right: -10px;
        cursor: ne-resize
    }

    .handle-ml {
        left: -10px;
        cursor: w-resize
    }

    .handle-ml, .handle-mr {
        top: 50%;
        margin-top: -5px
    }

    .handle-mr {
        right: -10px;
        cursor: e-resize
    }

    .handle-bl {
        bottom: -10px;
        left: -10px;
        cursor: sw-resize
    }

    .handle-bm {
        bottom: -10px;
        left: 50%;
        margin-left: -5px;
        cursor: s-resize
    }

    .handle-br {
        bottom: -10px;
        right: -10px;
        cursor: se-resize
    }

    .window__input {
        width: 55px;
        border: 1px solid #000000;
        border-radius: 10px;
        margin: 0 auto;
        text-align: center;
    }

    .wall {
        height: 50px;
        padding-top: 10px;
    }

    .separator {
        height: 50px;
        padding-top: 10px;
    }

    .kolona_block {
        height: 50px;
        padding-top: 5px;
    }

    .title__save {
        font-size: 30px;
    }

    @media only screen and (max-width: 768px) {
        [class*=handle-]:before {
            content: "";
            left: -10px;
            right: -10px;
            bottom: -10px;
            top: -10px;
            position: absolute
        }
    }

    .element_image {
        height: 50px;
    }
</style>
