<template>
    <div id="app" class="app">
            <div class="form__nav" v-if="authorEventId == userId">
                <div>
                    <div class="title__nav">Редактирование заведения</div>
                    <ul>
                        <li><span class="num active">1</span><span
                                class="li__content">Редактирование параметров заведения</span></li>
                        <li><span class="num">2</span><span class="li__content">Редактирование схемы</span></li>
                    </ul>
                </div>
            </div>
            <div class="form" v-if="authorEventId == userId">
                <form action="" method="post">
                    <label for="name" class="red__star">Наименование мероприятия</label>
                    <input type="text" id="name" v-model="name">
                    <div class="error" v-for="error in errors">{{ error.name }}</div>
                    <label for="city" class="red__star">Город мероприятия</label>
                    <input type="text" id="city" v-model="city">
                    <div class="error" v-for="error in errors">{{ error.city }}</div>
                    <label for="address" class="red__star">Адрес мероприятия</label>
                    <input type="text" id="address" v-model="address">
                    <div class="error" v-for="error in errors">{{ error.address }}</div>
                    <div class="date__time__title">Дата и время проведения</div>
                    <div class="date__time">
                        <div>
                            <datetime v-model="date" class="theme-orange input date"></datetime>
                            <div class="error" v-for="error in errors">{{ error.date }}</div>
                        </div>
                        <div>
                            <datetime v-model="time" type="time" class="theme-orange input time" format="HH:mm:ss"></datetime>
                            <div class="error" v-for="error in errors">{{ error.time }}</div>
                        </div>
                    </div>
                    <label for="anon">Анонимно</label>
                    <input type="checkbox" id="anon" v-model="isAnon">
                    <label for="closed">Закрытое мероприятие</label>
                    <input type="checkbox" id="closed" v-model="isClosed">
                    <label for="code" class="red__star" v-show="isClosed">Код мероприятия</label>
                    <input type="text" id="code" v-model="code" v-show="isClosed">
                    <div class="btns">
                        <button onclick="return false" class="send__btn" @click="acceptDialog = true">Сохранить
                        </button>
                        <button class="send__btn next__btn" @click="saveParamsAndGoEditScheme" onclick="return false">
                            Сохранить и редактировать
                            схему <i
                                class="fas fa-share"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div v-if="this.success && authorEventId != userId" class="block_booking_last_event">
                Вы не можете редактировать чужое мероприятие
            </div>
        <div class="text-xs-center">
            <v-dialog
                    v-model="acceptDialog"
                    width="500"
            >

                <v-card>
                    <v-card-title
                            class="headline top_block_dialog"
                            primary-title
                    >
                        Подтверждение действия
                    </v-card-title>

                    <v-card-text>
                        Сохранить параметры?
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                                color="primary"
                                flat
                                @click="saveEditParametrs"
                        >
                            Да
                        </v-btn>
                        <v-btn
                                color="info"
                                flat
                                @click="acceptDialog = false"
                        >
                            Нет
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </div>
</template>

<script>
    import {Datetime} from 'vue-datetime';

    Vue.extend({
        template: '...',
        components: {
            datetime: Datetime
        }
    });

    export default {
        data() {
            return {
                dialog: false,
                name: '',
                city: '',
                address: '',
                date: '',
                time: '',
                isAnon: false,
                isClosed: false,
                code: '',
                acceptDialog: false,
                errors: [],
                authorEventId: '',
                userId: window.App.userId,
                success: false
            }

        },

        methods: {
            pickFile() {
                this.$refs.image.click()
            },

            getParametrs() {
                axios.get('/get-params', {
                    params: {
                        id: this.$route.params.id
                    }
                }).then((response) => {
                    this.name = response.data.name,
                        this.city = response.data.city,
                        this.address = response.data.address,
                        this.date = response.data.date,
                        this.time = response.data.time,
                        this.isAnon = response.data.is_anonymously,
                        this.isClosed = response.data.is_closed,
                        this.code = response.data.code,
                        this.schemeId = response.data.scheme,
                        this.authorEventId = response.data.user_id,
                        this.success = true
                })
            },

            saveEditParametrs() {
                this.errors = []
                if (!this.name) {
                    this.errors.push({name: 'Поле обязательно для заполнения'})
                } else if (this.name.length > 50) {
                    this.errors.push({name: 'Длина поля не может превышать 50 символов'})
                } else {
                    this.errors.splice(name, 1)
                }

                if (!this.city) {
                    this.errors.push({city: 'Поле обязательно для заполнения'})
                } else if (this.city.length > 100) {
                    this.errors.push({city: 'Длина поля не может превышать 100 символов'})
                } else {
                    this.errors.splice(city, 1)
                }

                if (!this.address) {
                    this.errors.push({address: 'Поле обязательно для заполнения'})
                } else if (this.address.length > 100) {
                    this.errors.push({address: 'Длина поля не может превышать 100 символов'})
                }

                if (!this.date) {
                    this.errors.push({date: 'Поле обязательно для заполнения'})
                }

                if (!this.time) {
                    this.errors.push({time: 'Поле обязательно для заполнения'})
                }


                if (this.name && this.city && this.address && this.date && this.time && this.name.length < 50 && this.city.length < 100 && this.address.length < 100) {
                    axios({
                        method: 'patch',
                        url: '/edit-params',
                        data: {
                            name: this.name,
                            city: this.city,
                            address: this.address,
                            date: this.date.split('T')[0],
                            time: this.time.indexOf("T") != -1 ? this.time.split('.')[0].split('T')[1] : this.time,
                            is_anonymously: this.isAnon,
                            is_closed: this.isClosed,
                            code: this.code,
                            id: this.$route.params.id
                        }
                    })
                    this.$router.push('/my-schemes')
                }
            },
            saveParamsAndGoEditScheme() {
                this.saveEditParametrs()
                this.$router.push({name: 'editScheme', params: {id: this.schemeId}})
            },

            onFilePicked(e) {
                const files = e.target.files
                if (files[0] !== undefined) {
                    this.imageName = files[0].name
                    if (this.imageName.lastIndexOf('.') <= 0) {
                        return
                    }
                    const fr = new FileReader()
                    fr.readAsDataURL(files[0])
                    fr.addEventListener('load', () => {
                        this.imageUrl = fr.result
                        this.imageFile = files[0] // this is an image file that can be sent to server...
                    })
                } else {
                    this.imageName = ''
                    this.imageFile = ''
                    this.imageUrl = ''
                }
            }
        },
        created() {
            this.getParametrs()
            console.log(this.schemeId)
        }
    }
</script>

<style scoped>
    #app, .app {
        background: url("/storage/img/Rectangle.png") no-repeat bottom/cover;
        display: flex;
        justify-content: center;
        font-size: 22px;
        color: #000000;
        padding: 100px 0;
    }

    .form__nav, .form {
        display: flex;
        justify-content: center;
        width: 50%;
    }

    ul, li {
        margin: 0;
        padding: 0;
    }

    ul {
        list-style: none;
    }

    li {
        font-size: 16px;
        display: flex;
        margin-bottom: 25px;
    }

    .num {
        font-size: 23px;
        border-radius: 50%;
        background: #E5E5E5;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        display: block;
        text-align: center;
        width: 45px;
        height: 45px;
        box-sizing: border-box;
        padding-top: 10px;
    }

    form input[type=text], .input {
        display: block;
        outline: 0;
        width: 511px;
        height: 36px;
        border-radius: 10px;
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
        background: rgba(255, 255, 255, 0.7);
        margin: 10px 0;
    }

    form input:focus {
        background: rgba(255, 255, 255, 0.9);
    }

    form input:hover {
        background: rgba(255, 255, 255, 0.9);
    }

    .input__img {
        width: 511px;
        height: 147px;
        border-radius: 10px;
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
        background: rgba(255, 255, 255, 0.7);
        display: block;
        position: relative;
        z-index: 2;
    }

    .fa-camera {
        position: absolute;
        left: 450px;
        padding-bottom: 50px;
        top: 90px;
        font-size: 50px;
        z-index: 1;
        cursor: pointer;
    }

    .send__btn {
        display: block;
        width: 270px;
        height: 70px;
        border-radius: 10px;
        background: rgba(196, 196, 196, 0.6);
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
        margin-left: 240px;
        margin-top: 75px;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        color: #000000;
        box-sizing: border-box;
        padding-top: 15px;
    }

    .send__btn:hover {
        background: rgba(196, 196, 196, 0.8);
    }

    form {
        position: relative;
    }

    .red__star::after {
        content: "*";
        color: red;
        left: 480px;
        padding-top: 45px;
        font-size: 30px;
        position: absolute;
    }

    .li__content {
        display: block;
        padding-top: 20px;
        margin-left: 40px;
    }

    .title__nav {
        margin-bottom: 40px;
    }

    .active {
        background: #F0A34F;
    }

    .error {
        color: red;
        font-size: 14px;
        margin-top: -5px;
        margin-bottom: 10px;
    }

    .next__btn {
        margin-top: 10px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    .date__time {
        display: flex;
        justify-content: space-between;
    }

    .input {
        width: 245px;
        padding-left: 40px;
        padding-top: 7px;
    }

    .time {
        background: url("/storage/img/time.png") no-repeat;
        background-color: rgba(255, 255, 255, 0.7);
        background-position: 15px 8px;
    }

    .date {
        background: url("/storage/img/date.png") no-repeat;
        background-color: rgba(255, 255, 255, 0.7);
        background-position: 15px 8px;
    }

    .time:hover {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .date:hover {
        background-color: rgba(255, 255, 255, 0.9);
    }

    input[type=checkbox] {
        width: 25px;
        height: 25px;
        border-radius: 20px;
        display: block;
        margin: 10px 0;
    }
</style>
