<template>
    <div class="body">

    </div>
</template>

<script>
    export default {
        name: "Error404"
    }
</script>

<style scoped>
    .body {
        height: 564px;
        background:url('/storage/img//404.png') center no-repeat #fff;
    }
</style>
