<template>
    <div>
        <div class="main_block">
            <div class="create_scheme">
                <div class="text_create">Создай</div>
                <div class="text_create_scheme">Свою схему!</div>
                <div class="text_authorize">Авторизируйся и работай в Booking.hall</div>
                <div class="authorize_google">
                    <a href="/auth/google">
                        <img src="/storage/img/iconfinder_Google_1298745.png">
                        <span>
                            Войти с помощью Google
                        </span>
                    </a>
                </div>
            </div>
            <div class="text_register">
                Переходи по ссылке и бронируй место
                <div>в один клик!</div>
            </div>
            <div class="block_figures">
                <div class="block_figures_content">
                    <div class="block_figures_content_text">Перетащи фигуры на схему конструктора и все готово!</div>
                    <div class="figures">
                        <div>
                            <img src="/storage/img/sofa-48.png">
                            <div class="figure_text_sofa">Диван</div>
                        </div>
                        <div>
                            <img src="/storage/img/table-48.png">
                            <div class="figure_text">Стол</div>
                        </div>
                        <div>
                            <img src="/storage/img/chair-48.png">
                            <div class="figure_text">Стул</div>
                        </div>
                        <div>
                            <img src="/storage/img/text-48.png">
                            <div class="figure_text">Текст</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block_schema">
                <div class="block_schema_text">Воспользуйся готовым шаблоном расстановки столов и стульев в зале!</div>
                <div class="block_schema_img">
                    <img src="/storage/img/schema.png">
                </div>
            </div>
            <div class="block_preference">
                <div class="block_preference_title">
                    Преимущества Booking.<span class="hall_text">hall</span>
                </div>
                <div class="block_stars">
                    <div>
                        <div class="stars_bg">
                            <div class="stars_text">Быстрое и бесплатное создание собственных схем!</div>
                        </div>
                        <div class="star"></div>
                    </div>
                    <div>
                        <div class="stars_bg">
                            <div class="stars_text_2">Бронирование места в один клик!</div>
                        </div>
                        <div class="star"></div>
                    </div>
                    <div>
                        <div class="stars_bg">
                            <div class="stars_text_3">Удобный интерфейс для пользователя!</div>
                        </div>
                        <div class="star"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "MainPage"
    }
</script>

<style scoped>
    .test__links a{
        display: block;
        text-decoration: none;
        color: blue;
    }
</style>
