<template>
    <div class="sch__block">
        <div class="my__schemes">
            <h1>Мои мероприятия</h1>
            <ul>
                <li v-for="(inst, i) in insts" :key="inst.id">
                    <span class="inst__title">{{ inst.name }}</span>
                    <span class="booking__count">Забронировано <span class="counts">{{ inst.bookingCountPlaces }}/{{ inst.totalCountPlaces }}</span></span>
                    <span class="delete__transition__btn">
                        <span class="edit__btn">
                            <router-link :to="{ name: 'edit', params: { id: inst.id }, props: { id: inst.id }}"
                                         class="router-link">
                                <img src="/storage/img/edit.png" alt="">
                            </router-link>
                        </span>
                        <span @click="dialogAccept(i)" class="dell__btn">
                            <img src="/storage/img/delete.png">
                        </span>
                        <span>
                            <router-link :to="{ name: 'booking', params: { id: inst.scheme }}" class="router-link">
                                <img src="/storage/img/next.png">
                            </router-link>
                        </span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="block__btn__add">
            <div>
                <button class="add__event__btn" >
                    <router-link to="/params">Добавить мероприятие</router-link>
                </button>
            </div>
        </div>
        <div class="text-xs-center">
            <v-dialog
                    v-model="dialog"
                    width="500"
            >

                <v-card>
                    <v-card-title
                            class="headline top_block_dialog"
                            primary-title
                    >
                        Подтверждение действия
                    </v-card-title>

                    <v-card-text>
                        Удалить это заведение?
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                                color="primary"
                                flat
                                @click="deleteInstituion(instId)"
                        >
                            Да
                        </v-btn>
                        <v-btn
                                color="info"
                                flat
                                @click="dialog = false"
                        >
                            Нет
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                insts: [],
                dialog: false,
                isDell: false,
                instId: 0,
            }
        },
        methods: {
            dialogAccept(i) {
                this.instId = i
                this.dialog = true
            },
            deleteInstituion(instId) {
                axios.delete('/destroy', {
                    params: {
                        id: this.insts[instId].id
                    }
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                this.dialog = false
            },
            getInstitutions() {
                axios.get('/get-institutions').then((response) => {
                    this.insts = response.data
                })
            },
        },
        watch: {
            insts() {
                this.getInstitutions();
            }
        },
        created() {
            this.getInstitutions();
        }
    }
</script>

<style scoped>
    .sch__block {
        background: url("/storage/img/Rectangle.png") no-repeat bottom/cover;
        min-height: 700px;
        padding-top: 50px;
        padding-bottom: 75px;
        color: #393939;
        width: 100%;
    }

    .my__schemes {
        width: 1070px;
        max-width: 1100px;
        margin: 0 auto;
        background: #ececec;
        padding: 5px;
    }

    .block__btn__add {
        width: 1070px;
        max-width: 1100px;
        margin: 0 auto;
        padding: 5px;
        margin-top: 20px;
    }

    .add__event__btn {
        width: 351px;
        height: 52px;
        background: rgba(196, 196, 196, 0.5);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-size: 22px;
    }

    .add__event__btn a{
        text-decoration: none;
        color: #000000;
    }

    h1 {
        height: 100px;
        background: #f0f0f0;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
        margin: 0;
        font-size: 35px;
        line-height: 49px;
        text-align: center;
        box-sizing: border-box;
        padding-top: 25px;
        margin-bottom: 35px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0;
        height: 75px;
        background: #f0f0f0;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        margin-bottom: 7px;
        font-size: 30px;
        padding-top: 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }

    li i {
        font-size: 40px;
        cursor: pointer;
    }

    li i:first-child {
        margin-right: 30px;
    }

    .router-link {
        color: #000000;
    }

    .my__schemes img {
        width: 28px;
        height: 28px;
    }

    .inst__title {
        font-size: 22px;
        display: block;
        margin-top: 12px;
        width: 50%;
        padding-left: 50px;
    }

    .dell__btn {
        cursor: pointer;
        margin: 0 20px;
    }

    .edit__btn {
        cursor: pointer;
    }

    .delete__transition__btn {
        margin-top: 10px;
        width: 25%;
        padding-left: 75px;
    }

    .booking__count {
        font-size: 15px;
        font-weight: bold;
        width: 25%;
        padding-left: 100px;
        padding-top: 16px;
    }

    .counts {
        color: #B23939;
    }
</style>
